.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 150;
  position: relative;
}

.heroText {
  width: 480px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('/images/jazzoo/jazzoo_2022_hero_text.png');
}

.sponsorText {
  color: #2b4d20;
}

.sponsorImg {
  display: flex;
  margin: -3em 0 -2em -0.5em;
}

.divider {
  border: none;
  border-left: 1px solid #107977;
  height: 179px;
  margin: 0 2em 0 2em;
}

@media (max-width: 990px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  .sponsorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -13em;
    margin-right: 1em;
  }
  .divider {
    display: none;
  }
  .sponsorText {
    font-size: 14px;
  }
  .sponsorImg {
    width: 150px;
    margin: -2em 0 2em 0;
  }
}

@media (max-width: 499px) {
  .hero {
    margin-top: -2em;
  }
  .heroText {
    width: 360px;
  }
}
