.cardStyles {
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardHeader {
  height: 50px;
  text-align: center;
  padding: 17px 20px 12px 20px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-family: "DINCondensedBold", "DINOT", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

.cardBody {
  flex-grow: 1;
  padding: 50px 15px 5px 15px;
}

.cardDescription {
  font-size: 24px;
  line-height: 30px;
  font-family: "DINOTMedium", sans-serif;
  text-align: center;
}

.cardFooter > p {
  margin-top: 1em;
  font-size: 16px;
}

@media (max-width: 992px) {
  .cardContainer {
    margin-bottom: 1.5em;
  }
}
