@import "../../layout/vars.css";

/*
	FILTER BAR
*/

.navbarNav {
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.navbarNav::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.navItem {
  margin: 0;
}

.navLink {
  color: white;
  height: 80px;
  padding: 0 25px !important;
  display: flex;
  font-size: 24px;
  font-family: "DINOTBold";
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.navLink:hover {
  color: white;
}

.navLinkActive {
  padding: 0 25px !important;
  color: white;
  background-color: rgba(34, 34, 34, 0.2);
}

.filterBar {
  padding: 0;
  color: white;
}

.filterBarRight {
  padding-left: 25px;
  border-left: 2px solid rgba(112, 112, 112, 0.25);
}

/*
	MOBILE NAV
*/

.navbarNavMobile {
  flex-direction: column;
}

.navLinkMobile {
  color: white;
  height: 54.77px;
  padding: 0;
  display: flex;
  font-size: 24px;
  font-family: "DINOTBold";
  line-height: 29px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.navLinkMobile:hover {
  color: white;
}

.navLinkActiveModal {
  color: white;
  background-color: rgba(34, 34, 34, 0.2);
}

.expandBtn {
  cursor: pointer;
  vertical-align: middle;
}

.dividerDot {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #FFD10A;
}

.goText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-family: "DIN Round OT Bold", sans-serif;
  letter-spacing: 1px;
  line-height: 15px;
}

.mobileNavDescription > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0;
}

/*
	MODAL | MOBILE NAV
*/

.modalHeaderMobile {
  /* background-image: url("https://images.prismic.io/kansascityzoo/cec533b7-cb3b-4adb-972e-0cc9f86038b5_Jazzoo_2022_modal_bg.png?auto=compress,format"); */
  height: 13em;
  background-color: #fff;
  background: linear-gradient(
    0deg,
    rgba(16, 121, 119, 0.914437149859944) 0%,
    rgba(155, 192, 177, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0;
  border-radius: 0;
  padding: 20px 60px 20px 50px;
}

.modalHero {
  position: relative;
  top: 1em;
  left: 0.25em;
}

.modalBodyMobile {
  padding: 0;
}

.modalDialogMobile {
  border: 0;
  border-radius: 0;
}

@media screen and (max-width: 992px) {
  .navLink {
    display: none;
    padding: 0 !important;
  }

  .navLinkActive {
    display: flex;
    background-color: transparent;
    padding: 0 !important;
  }

  .modalBodyMobile {
    margin-top: -1px;
  }

  #buyTicketsNavBtn {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .modalHeaderMobile {
    height: 11em;
    padding: 20px 50px 10px 15px;
  }

  .modalHero {
    position: relative;
    top: 1em;
    left: 1em;
  }
}
