.calendar {
	display: inline-block;
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay {
	font-family: 'DINOT', sans-serif;
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
}

.calendarMonth {
	font-family: 'DINOTBold', sans-serif;
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}
.calendarLarge {
    composes: calendar;
    width: 92px;
}

.calendarExtraLarge {
    composes: calendar;
    width: 172px;
}
.calendarDayLarge {
    composes: calendarDay;
    font-size: 48px;
    line-height: 60px;
}
.calendarDayExtraLarge {
    composes: calendarDay;
    font-size: 91px;
		font-weight: bold;
    line-height: 126px
}

.calendarMonthExtraLarge {
    composes: calendarDay;
		font-size: 24px;
    line-height: 47px;
		font-family: 'DINOTBold', sans-serif;
		text-transform: uppercase;
		color: white;
}

.calendarMonthLarge {
    composes: calendarMonth;
}
