.camp {
}

.campIcons {
	list-style: none;
	display: flex;
	padding: 0;
}
.campIcons li + li {
	margin-left: 15px;
}

.campImageWrapper {
	height: 100%;
	margin-bottom: 20px;	
}

.campImage {
	border-radius: 5px;
	width: 100%;
	/*
	height: 100%;
	object-fit: cover;
	object-position: top center;
	*/
}

.campBody {
}

.campTitle {
	font-family: "Lifehack Sans", sans-serif;
	color: white;
	background-color: black;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
	padding: 17px 20px 13px 20px;
	border-radius: 5px;
}

@media (max-width: 768px) {
	.campImage {
		border-radius: 5px 5px 0 0;
	}
	.campTitle {
		border-radius: 0 0 5px 5px;
	}
}

.campDesc {
	padding: 20px;
	font-size: 16px;
	line-height: 22px;
}

@media (min-width: 768px) {
	.campImageWrapper {
		margin-bottom: 0;	
	}
	
	.campBody {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.campTitle {
	}

	.campDesc {
		flex-grow: 2;
	}
}

.wholePageEditButton {
	position: absolute;
    top: -42px;
    left: -30px;
}