/*
	FILTER BAR
*/

.navbarNav {
	flex-direction: row;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
.navbarNav::-webkit-scrollbar {
	display: none;  /* Safari and Chrome */
}

.navItem {
	margin: 0;
}

.navLink {
	color: white;
	height: 80px;
	padding: 0 20px !important;
	display: flex;
	font-size: 21px;
	font-family: "DINOTBold";
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.navLink:hover {
	color: white;
}

.navLinkActive {
	padding: 0 25px !important;
	color: white;
	background-color: rgba(34, 34, 34, 0.2);
}

.filterBar {
	padding: 0;
	color: white;
}

.filterBarRight {
	padding-left: 25px;
	border-left: 2px solid rgba(112, 112, 112, 0.25);
}

/*
	MOBILE NAV
*/

.navbarNavMobile {
	flex-direction: column;
}

.navLinkMobile {
	color: white;
	height: 54.77px;
	padding: 0;
	display: flex;
	font-size: 24px;
	font-family: "DINOTBold";
	line-height: 29px;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.navLinkMobile:hover {
	color: white;
}

.navLinkActiveMobile {
	color: white;
	background-color: rgba(34, 34, 34, 0.2);
}

.expandBtn {
	cursor: pointer;
	vertical-align: middle;
}

.dividerDot {
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #FDC843;
}

.goText {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	font-family: "DIN Round OT Bold", sans-serif;
	letter-spacing: 1px;
	line-height: 15px;
}

.mobileNavDescription>p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin: 0;
}

/*
	MODAL | MOBILE NAV
*/
.modalHeaderMobile {
	display: flex;
	align-items: top;
	justify-content: center;
	border: 0;
	border-radius: 0;
	background-color: #066E97;
	background-image: url('https://images.prismic.io/kansascityzoo/141fb7df-eecd-435a-b014-8a8b57b2e2bb_make-waves-kc%402x.png?auto=compress,format');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}
/* .modalHeaderMobile > button {
	opacity: 1;
}
.modalHeaderMobile > button > span {
	color: #FFF;
} */

.modalBodyMobile {
	background: #0082b5;
	padding: 0;
}

.modalDialogMobile {
	border: 0;
	border-radius: 0 !important;
}

@media screen and (max-width: 993px) {
	.navLink {
		display: none;
		padding: 0 !important;
	}

	.navLinkActive {
		display: flex;
		background-color: transparent;
		padding: 0 !important;
	}
}