.title {
  text-align: center;
}

.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}

.jazzoo2022BottomPadding:last-of-type {
  padding-bottom: 220px;
}
