.projectContainer {
	padding: 20px 0;
}

.projectImageContainer {
	margin-bottom: 20px;
}

.projectImage {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}

.projectTitle {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #40AF49;
	margin: 0 0 10px 0;
}

.projectLink {
	color: #40AF49;
}
.projectLink:hover {
	color: #40AF49;
	text-decoration: none;	
}

.projectBody {
	font-size: 16px;
	line-height: 19px;
}

