.cardBody {
    width: 470px;
    height: auto;
    border-radius: 10px;
    margin: 0 1em 2em 0;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.cardTitle {
    font-family: "Lifehack Sans", sans-serif;
    font-size: 32px;
    line-height: 39px;
    color: #FD6743;
}

.cardDescription {
    color: #707070;
}

.modalDialog {
	border: 0;
}

.modalHeader {
	border: 0;
    height: 1em;
}

.modalBody {
    padding: 0.5em 3em 2em 3.5em; 
}

.listContent {
    column-count: 2;
}

.listContent > ol > li > a, a:hover {
    color: #FD6743;
}

@media (max-width: 1200px) {
    .cardBody {
        width: 420px;
        margin: 0 0 2em 0;
    }
}

@media (max-width: 991px) {
    .cardBody {
        width: 100%;
        margin: 0 0 2em 0;
    }
}

@media (max-width: 500px) {
    .listContent {
        column-count: 1;
    }
    .modalBody {
        padding: 0 1em 1em 2.5em; 
    }
}

