.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #222222;
  background-image: url("https://images.prismic.io/kansascityzoo/815b9053-49f9-474b-b5d5-a0149a170100_GloWild_Lantern+Dragon+COB.png?auto=compress,format"),
    url("https://images.prismic.io/kansascityzoo/252d49e8-eb0d-44fa-9b5f-d5cce42a71b7_GloWild_Lantern+Alligator+COB.png?auto=compress,format"),
    url("https://images.prismic.io/kansascityzoo/40423297-79ed-4855-bc4d-29b019495cc8_GloWild_Lantern+Sea+Life+COB.png?auto=compress,format");
  background-position: 
  right -90% bottom -300px, 
  right -55% bottom -190px,
  left -60% bottom -80px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 60%, 70%, 70%;
  box-shadow: inset 0 0 0 2000px rgba(34, 34, 34, 0.66);
}

.heroForegroundContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: flicker 8s linear infinite both;
  opacity: 1;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.8;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 600px;
  }
  .heroForegroundContainer {
    height: 300px;
  }
}

/*
HEADER QUERIES
*/

@media (max-width: 1200px) {
  .hero {
      background-position:
      right -90% bottom -290px,
      right -55% bottom -170px,
      left -60% bottom -80px;
  }
}

@media (max-width: 992px) {
  .hero {
    background-position: 
    right -90% bottom -280px, 
    right -53% bottom -140px,
    left -70% bottom -90px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-position:
    right -90% bottom -230px,
    right -50% bottom -110px,
    left -65% bottom -80px;
  }
}

@media (max-width: 668px) {
  .hero {
    background-position:
      right -90% bottom -200px,
      right -50% bottom -100px,
      left -65% bottom -70px;
  }
}

@media (max-width: 615px) {
  .hero {
    background-position:
      right -90% bottom -160px,
      right -50% bottom -80px,
      left -65% bottom -50px;
  }
}

@media (max-width: 415px) {
  .hero {
    background-position:
      right -90% bottom -120px,
      right -50% bottom -60px,
      left -65% bottom -40px;
  }
}
