.iconMap {
	display: inline-block;
	background: url(/images/icon-map.svg) no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
}

.button {
	display: inline-block;
	padding: 0 25px;
	height: 34px;
	border-radius: 17px;
	background-color: #FBA24F;
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 34px;
	text-align: center;
	white-space: nowrap;
	color: white;
	text-decoration: none;
	border: none;
	box-shadow: 0px 3px 6px #00000029;
}

.buttonSmall {
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border-radius: 15px;
}

.buttonLarge {
	height: 44px;
	font-size: 20px;
	line-height: 44px;
	border-radius: 22px;
}

.buttonMedium {
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 20px;
}

.buttonFlex {
  align-self: flex-start;
}

.button:hover {
	text-decoration: none;
}

.buttonInner {
	display: flex;
	align-items: center;
}