.bodyText {
	font-size: 1.125rem;
	line-height: 1.438rem;
}

.bodyText h2 {
	font-size: 24px;
	line-height: 31px;
	margin-top: 44px;
	margin-bottom: 28px;
}

.bodyText h3 {
	font-size: 20px;
	margin-top: 44px;
	margin-bottom: 28px;
}

.bodyText h4, .bodyText h5, .bodyText h6 {
	font-size: 18px;
	line-height: 26px;
	margin-top: 44px;
	margin-bottom: 28px;
}

.bodyText p, .bodyText ul, .bodyText ol {
	margin-bottom: 15px;
}
