.title {
  text-align: center;
}

.bodySectionClass {
  position: relative;
  z-index: 2;
  color: #fff;
  background-image: url('https://images.prismic.io/kansascityzoo/9381449b-6d9d-4f53-87e4-1a90f30506ba_brew22_bg.png?auto=compress,format');
  background-repeat: repeat;
  background-size: 600px;
}

.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
}

.textStyles h3 {
  font-family: 'DINOTBold';
  font-size: 21px;
  line-height: 27px;
}

.textStyles {
  padding-top: 0;
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}
