.title {
  text-align: center;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  background-image: url('https://images.prismic.io/kansascityzoo/9381449b-6d9d-4f53-87e4-1a90f30506ba_brew22_bg.png?auto=compress,format');
  background-repeat: repeat;
  background-size: 600px;
  overflow: hidden;
}

.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}

/*
	MODAL
*/

.modal > div {
	border-radius: 0;
}

.modalHeader {
	border: 0;
	padding: 30px 30px 20px 30px;
}

.modalTitle {
	text-align: center;
	font-family: "Lifehack Basic", sans-serif;
	font-size: 60px;
	line-height: 72px;
	margin-bottom: 20px;
}

.modalBody {
	padding: 0 35px 35px 35px;
}

.modalContent {
	border-radius: 0;
	border: 0;
}

.modalButton {
	text-align: center;
	margin: 70px 0 35px 0;
}

.modalInfoButton {
  background-color: #fff;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 36px;
  font-family: 'Lifehack Basic', sans-serif;
  text-transform: lowercase;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  right: 24px;
  cursor: pointer;
}
