.title {
  text-align: center;
	font-family: "Lifehack Sans", sans-serif;
	font-size: 60px;
	line-height: 72px;
	font-weight: bold;
	color: #AF4068;
}

.descriptionWrapper > p {
font-size: 20px;
color: #222;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  background-image: url('https://images.prismic.io/kansascityzoo/9381449b-6d9d-4f53-87e4-1a90f30506ba_brew22_bg.png?auto=compress,format');
  background-repeat: repeat;
  background-size: 600px;
  overflow: hidden;
}

.carouselContainer {
  margin-bottom: 15px;
}

@media (min-width: 972px) {
  .carouselContainer {
    padding-right: 15px;
    margin-right: 15px;
  }
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}

.slantDown {
  height: 60px;
  width: 100%;
  background-color: #FDC843;
  clip-path: polygon(
    0 0, /* left top */
    0 10%, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

.slantUp {
  height: 60px;
  width: 100%;
  background-color: #361A05;
  clip-path: polygon(
    0 0, /* left top */
    0 10%, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

.slantDown.reverse {
  transform: scaleY(-1);
}

.h2styles {
  background-color: transparent !important;
}

.h2styles h2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    color: #AF4068;
    font-family: "Lifehack Sans", sans-serif;
}

.dividerDot{
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #AF4068;
}

.eventDetailLeftBody > p {
  margin-bottom: 0;
}

.eventDetailLeftBody > p:nth-child(4) {
  margin-top: 0.5em;
}

.bigEventDetailsContainer {
  background-color: #FDC843;
}

.bigEventDetailsContainer a {
  color: #AF4068;
}