.title {
  text-align: center;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  background-image: url('https://images.prismic.io/kansascityzoo/9381449b-6d9d-4f53-87e4-1a90f30506ba_brew22_bg.png?auto=compress,format');
  background-repeat: repeat;
  background-size: 600px;
  overflow: hidden;
}