@keyframes slideDown {
    from{   
        min-height: 0;
        max-height: 0;
    }
    to {
        max-height: 400px;
    }
}

.alertContainer:not(:first-child) {
    border-top: 1px solid #FFF;
}


.alertContainer {
    animation: slideDown 1s ease-in-out;
    animation-fill-mode: backwards;
    position: relative;
    transform-origin: top;
    overflow: hidden;
    max-height: 400px;
}

.alertRow {
    /* background-color: #0082B5; */
    color: #FFF;
    position: relative;
    min-height: 80px;
}

.alertCol {
    display: flex;
    align-items: center;
}

.alertTitle {
    font-size: 24px;
    line-height: 29px;
    font-family: 'DIN Round OT Bold', 'DIN Round OT', sans-serif;
    font-weight: bold;
    margin: 15px 0;
}

.alertCloseCol {
    background-color: rgba( 0,0,0,.2);
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    min-height:50px;
}

.alertLearnMoreLink {
    color: #FFF;
    text-decoration: underline;
}

.alertLearnMoreLink:hover {
    color: #FFF;
    text-decoration: underline;
}

@media(max-width: 991px){

    .alertDescriptionCol{
        padding: 5px 15px 25px 15px;
    }

}

.wholePageEditButton {
    position: absolute;
    top: -23px;
    left: -23px;
}