.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 60px;
	line-height: 72px;
	color: #AF4068;
}

.activityFigure {
	margin-bottom: 45px;
}

.activityImage {
	border-radius: 5px;
}

.contentArea {
	padding: 20px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 992px) {
	.contentArea {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

/*
	PRICING
*/

.pricing {
	display: flex;
	align-items: center;
}
.pricingPrice {
	border-right: 1px solid #707070;
	padding: 15px 15px 15px 0;
	display: flex;
	flex-direction: column;
}
.pricingQuantity {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
}
.pricingQuantifier {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
}
.pricingDesc {
	padding: 15px;
	font-size: 14px;
	line-height: 17px;
	flex-grow: 2;
}
/*
	FILTER BAR
*/

.filterBar {
	background-color: #FBA24F;
	color: white;
	margin: 0;
	min-height: 80px;
	padding-bottom: 16px;
}

@media (min-width: 992px) {
	.filterBar {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.navbarNavleft {	
}

.navbarNavRight {
}

@media (max-width: 992px) {
	.navbarNavleft {
		width: 100%;
		margin-bottom: 20px;
	}
	.navbarNavRight {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
}
.filterDate {
	display: flex;
	align-items: center;
}

.filterActivityToggle {
	color: white;
}

.filterActivityToggle::after {
	display: none;
}

.filterActivityToggle:hover {
	color: white;
}

.filterNavItem {
}

@media (min-width: 992px) {
	.navItemBorderRight {
		padding-right: 30px;
		margin-right: 30px;
		border-right: 2px solid rgba(112, 112, 112, 0.25);
	}
}

.filterNavLink {
	color: white;
	height: 80px;
	display: flex;
	padding: 0 30px !important;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.filterNavLinkActive {
	background-color: rgba(0, 0, 0, 0.1);
}

.dropdown {
	color: white;
	background-color: transparent !important;
}

.dropdownItem {
	color: black !important;
}

/*
	CALENDAR
*/

.calendar {
	margin-right: 15px;
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay, .calendarDaySmall {
	font-family: 'DINOTBold', sans-serif;
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
}

.calendarDaySmall {
	font-size: 16px;
	line-height: 41px;
}

.calendarMonth {
	font-family: 'DINOTBold', sans-serif;
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}

/*
	TABLE
*/

.tableWrapper {
	background-color: #EEEEEE;
	padding: 55px 0;
}

.table thead th {
	font-weight: bold !important;
	border: none;
}

.table tbody tr:nth-of-type(odd) {
	background-color: white;
}

.table tbody tr td:nth-child(1) {
	width: 1%;
}

.table tbody tr td:nth-child(6) {
	width: 1%;
}

.table td {
	vertical-align: middle;
	white-space: nowrap;
}

/*
	SECTION
*/

.section {
	padding: 60px 0;
}

.sectionTitle {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 60px;
}

.iconMap {
	display: inline-block;
	background: url(/images/icon-map.svg) no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
}

.iconClock {
	display: inline-block;
	background: url(/images/icon-clock.svg) no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/*
	BOX
*/

.box {
	background-color: #EEEEEE;
	padding: 20px 30px;
	height: 100%;
	border-radius: 5px;
}

.boxTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

/*
	BANNER
*/

.bannerBottom {
	padding: 20px;
	background-color: #FDC843;
	font-size: 30px;
	line-height: 36px;
	color: white;
	text-align: center;
}

.iconChevronDownWhite {
	display: inline-block;
	background: url(/images/icon-chevron-down-white.svg) no-repeat;
	width: 20px;
	height: 12px;
	vertical-align: middle;
}

/*
	SWITCH
*/

.switch {
  position: relative;
  display: inline-block;
  width: 137px;
  height: 42px;
	margin: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
	line-height: 42px;
	padding-left: 60px;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	background: url(/images/grooves.svg) center center no-repeat;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	border-radius: 50%;
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: -4px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(0,0,0,0.25);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
}

input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}
