.contentArea {
	padding: 20px 0 20px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 992px) {
	.contentArea {
		padding-top: 0;
		padding-bottom: 70px;
	}
}

/*
	PRICING
*/

.pricing {
	display: flex;
	align-items: center;
}
.pricingPrice {
	border-right: 1px solid #707070;
	padding: 15px 15px 15px 0;
	display: flex;
	flex-direction: column;
}
.pricingQuantity {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
}
.pricingQuantifier {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
}
.pricingDesc {
	padding: 15px;
	font-size: 14px;
	line-height: 17px;
	flex-grow: 2;
}

/*
	FILTER BAR
*/

.filterBar {
	background-color: #40AF49;
	color: white;
	margin: 0;
}

.filterBarRight {
	padding-left: 25px;
	border-left: 2px solid rgba(112, 112, 112, 0.25);
}

.navbarNavleft {	
}

.navbarNavRight {
}

@media (max-width: 992px) {
	.navbarNavleft {
		width: 100%;
		margin-bottom: 20px;
	}
	.navbarNavRight {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
}
.filterDate {
	display: flex;
	align-items: center;
}

.filterActivityToggle {
	color: white;
}

.filterActivityToggle::after {
	display: none;
}

.filterActivityToggle:hover {
	color: white;
}

.filterNavItem {
}

@media (min-width: 992px) {
	.navItemBorderRight {
		padding-right: 30px;
		margin-right: 30px;
		border-right: 2px solid rgba(112, 112, 112, 0.25);
	}
}

.filterNavLink {
	color: white;
	height: 80px;
	display: flex;
	padding: 0 30px !important;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.filterNavLinkActive {
	background-color: rgba(0, 0, 0, 0.1);
}

.dropdown {
	color: white;
	background-color: transparent !important;
}

.dropdownItem {
	color: black !important;
}
.dropdownItem:active {
	background-color: transparent;
}

.iconChevronDownWhite {
	display: inline-block;
	background: url(/images/icon-chevron-down-white.svg) no-repeat;
	width: 20px;
	height: 12px;
	vertical-align: middle;
}

