.title {
	margin-bottom: 35px;
}

.activityFigure {
	margin-bottom: 45px;
}

.activityImage {
	border-radius: 5px;
}


/*
	PRICING
*/

.pricing {
	display: flex;
	align-items: center;
}
.pricingPrice {
	border-right: 1px solid #707070;
	padding: 15px 15px 15px 0;
	display: flex;
	flex-direction: column;
}
.pricingQuantity {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
}
.pricingQuantifier {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
}
.pricingDesc {
	padding: 15px;
	font-size: 14px;
	line-height: 17px;
	flex-grow: 2;
}
/*
	FILTER BAR
*/

.filterBar {
	background-color: #FBA24F;
	color: white;
	margin: 0;
}

.filterDate {
	display: flex;
	align-items: center;
}

.filterActivityToggle::after {
	display: none;
}

.filterActivityToggle:hover {
	color: white;
}

/*
	CALENDAR
*/

.calendar {
	margin-right: 15px;
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay {
	font-family: 'DINOTBold', sans-serif;
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
}

.calendarMonth {
	font-family: 'DINOTBold', sans-serif;
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}

/*
	TABLE
*/

.tableWrapper {
	background-color: #EEEEEE;
	padding: 55px 0;
}

.table thead th {
	font-weight: bold !important;
	border: none;
}

.table tbody tr:nth-of-type(odd) {
	background-color: white;
}

.table tbody tr td:nth-child(3) {
	width: 1%;
}

.table td {
	vertical-align: middle;
}

/*
	SECTION
*/

.section {
	padding: 60px 0;
}

.sectionTitle {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 60px;
}

.iconMap {
	display: inline-block;
	background: url(/images/icon-map.svg) no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
}

.iconClock {
	display: inline-block;
	background: url(/images/icon-clock.svg) no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/*
	BOX
*/

.box {
	background-color: #EEEEEE;
	padding: 20px 30px;
	height: 100%;
	border-radius: 5px;
}

.boxTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

/*
	BANNER
*/

.bannerBottom {
	padding: 20px;
	background-color: #FDC843;
	font-size: 30px;
	line-height: 36px;
	color: white;
	text-align: center;
}

.iconChevronDownWhite {
	display: inline-block;
	background: url(/images/icon-chevron-down-white.svg) no-repeat;
	width: 20px;
	height: 12px;
	vertical-align: middle;
}


.callOut {
	background-color: #FDC843;
	padding: 13px;
	margin-bottom: 20px;
}

.calloutTitle {
	font-weight: bold;
	font-family: 'DINOTBold', 'DINOT', sans-serif;
}
/* 
.callOutButton {
} */

.callOut a { color: #40AF49; }

.callOutInner {
	border: 1px solid white;
	padding: 24px 20px 24px 24px;
	height: 100%;
}

.quotee p {
	font-size: 12px;
	margin-bottom: 0;
}

.quotee img {
	border-radius: 50%;
	width: 54px;
	height: 54px;
	margin-right: 15px;
	margin-top: 10px;
}

/*
WISHLIST
*/
.wishlistHeaderWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5em;
}

.wishlistSubhead {
	font-family: 'DINOTBold', 'DINOT', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	max-width: 700px;
}

.wishlistSidebar {
	background-color: #EEEEEE;
	border-radius: 0 0 10px 10px;
	padding: 1em 1.5em 1em 2em;
}

.wishlistSidebar > ul, li {
	margin: 0;
	padding: 0;
}

.sidebarTitle {
	color: #fff;
	background-color: #40AF49;
	border-radius: 10px 10px 0 0;
	padding: .75em;
}

.wishlistSidebarTitle {
	display: block;
	font-weight: bold;
	font-family: 'DINOTBold', 'DINOT', sans-serif;
	font-size: 20px;
	line-height: 26px;
}

.address > span {
	display: block;
}

.sidebarFooter {
	font-family: "Lifehack Sans", sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}

.wishlistSection {
	background-color: #FBA24F;
	padding-bottom: 2em;
}

.wishlistSectionTitle {
    font-family: "Lifehack Basic", serif;
    font-size: 48px;
    line-height: 32px;
    color: #fff;
	text-align: center;
	margin: 1.5em 0 1.5em 0;
}

.cardContainer {
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 1200px) {
	.cardContainer {
		justify-content: space-evenly;
	}
}

@media (max-width: 768px) {
	.wishlistSectionTitle {
		font-size: 40px;
		line-height: 38px;
		margin: 1.5em 0 1em 0;
	}
}