.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: #af4068;
}

.activityImage {
  margin-bottom: 20px;
}

.contentArea {
  padding: 70px 0;
}

.timeTable {
  width: 100%;
}
.timeTable td {
  vertical-align: top;
  padding: 20px 5px;
}

.timeTable tr + tr {
  border-top: 1px solid #707070;
}

.col2 {
  padding: 0 10px;
  width: 99%;
}

.link {
  display: inline-block;
  padding: 0 20px;
  height: 34px;
  border-radius: 17px;
  background-color: #fba24f;
  font-size: 16px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

.time {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #3b3b3b;
  white-space: nowrap;
}

.location {
  font-size: 16px;
  line-height: 21px;
  color: #696969;
}

.duration {
  font-size: 16px;
  line-height: 21px;
  color: #696969;
}

.iconMap {
  display: inline-block;
  background: url(/images/icon-map.svg) no-repeat;
  width: 20px;
  height: 18px;
  vertical-align: middle;
}

.iconClock {
  display: inline-block;
  background: url(/images/icon-clock.svg) no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/*
	**** NEW STUFF ****
*/

/*
	CALENDAR
*/

.calendarInline {
  display: flex;
  align-items: center;
}

.calendar {
  display: inline-block;
  background-color: white;
  width: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.calendarDay {
  font-family: "DINOTBold", sans-serif;
  color: #3b3b3b;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
}

.calendarMonth {
  font-family: "DINOTBold", sans-serif;
  background-color: #fba24f;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

/*
	TABLE
*/

.tableWrapper,
.tableWrapperAlt {
  background-color: #eeeeee;
  padding: 55px 0;
}

.tableWrapperAlt {
  padding: 20px 10px;
}

.table thead th {
  font-weight: bold !important;
  border: none;
}

.table tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table tbody tr td:nth-child(6) {
  width: 1%;
}

.table td {
  white-space: nowrap;
  vertical-align: middle;
}

.gridTable {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
}

.gridRow,
.gridRowAlt {
  display: contents;
}

.gridRow > div,
.gridRowAlt > div {
  padding: 12px;
  display: flex;
  align-items: center;
}

.gridRowAlt > div {
  padding: 15px 0;
  justify-content: center;
  text-align: center;
}

.gridRow:nth-child(even) > div,
.gridRowAlt:nth-child(even) > div {
  background-color: #fff;
}

.gridSection,
.pluCtaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "DINOTBold", sans-serif;
  font-size: 18px;
}

.pluCtaWrapper {
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pluCtaLabel {
  font-family: "DINCondensedBold", sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
}

.gridSection:first-child {
  border-bottom: 1px solid #979797;
}

@media (max-width: 992px) {
  .speakerWrapper {
    padding-top: 70px;
  }
}

@media (max-width: 767.5px) {
  .gridTable {
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
  }

  .gridRow:first-child {
    display: none;
  }

  .gridRow > div:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gridRow > div:nth-child(2) {
    grid-column: 2;
    padding-bottom: 0;
  }

  .gridRow > div:nth-child(3) {
    grid-column: 2;
    padding-top: 0;
  }

  .gridRow > div:nth-child(4) {
    justify-content: center;
    grid-column: 3;
    padding-bottom: 0;
  }

  .gridRow > div:nth-child(5) {
    grid-column: 3;
    padding-top: 0;
  }
}

@media (max-width: 576.5px) {
  .gridTable {
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
  }

  .calendarInline {
    flex-direction: column;
  }
  .calendarInline > div {
    margin: 0 !important;
  }

  .gridRow > div:nth-child(1) {
    grid-column: 1;
    grid-row: span 4;
    align-items: flex-start;
    padding-top: 15px;
  }

  .gridRow > div:nth-child(2) {
    grid-column: 2;
    padding-bottom: 0;
  }

  .gridRow > div:nth-child(3) {
    grid-column: 2;
    padding-top: 0;
    padding-bottom: 0;
  }

  .gridRow > div:nth-child(4) {
    justify-content: flex-start;
    grid-column: 2;
    padding-bottom: 0;
    padding-top: 0;
  }

  .gridRow > div:nth-child(5) {
    grid-column: 2;
    padding-top: 5px;
  }
}

.giftDropdownToggle {
  display: inline-block;
  padding: 0 30px;
  height: 34px;
  border-radius: 17px;
  background-color: #fba24f;
  font-family: "DIN Round OT Bold", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  border: none;
  z-index: 2;
  position: relative;
}

.giftDropdownToggle:focus {
  border-radius: 22px 22px 0 0;
}

.giftDropdown {
  position: relative;
  display: inline-block;
}

.giftDropdownMenu {
  /* padding: 10px 20px; */
  position: relative;
  padding-right: 18px;
  width: 100%;
  background-color: transparent;
  z-index: 0;
  border: none;
  /* Removes the functionality for the dropdown to move up if it runs off the page */
  transform: translate3d(0, 10px, 0px) !important;
}

.giftDropdownMenu a {
  font-family: "DIN Round OT Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 15px;
  z-index: 0;
  position: relative;
  padding-bottom: 15px;
  padding: 15px 1.5rem !important;
}

.giftDropdownMenu a:first-child {
  padding-top: 25px !important;
}

.giftDropdownMenu a:last-child {
  border-radius: 0 0 22px 22px;
}

.giftDropdownMenu a + a {
  border-top: 1px solid #707070;
}

/* .giftDropdownMenu a:hover {
	border-radius: 0 0 22px 22px;
} */

.giftBox {
  display: none;
}

.giftToggle {
  display: none;
}

.giftToggle:checked ~ .giftBox {
  display: block;
}

.giftToggle:checked ~ .joinBox {
  display: none;
}

.joinLabel {
  display: none;
}
.giftLabel {
  display: block;
}

.joinLabel,
.giftLabel {
  margin-top: 5px;
  text-decoration: underline;
  text-align: center;
}

.giftToggle:checked ~ .joinLabel {
  display: block;
}

.giftToggle:checked ~ .giftLabel {
  display: none;
}
