.title {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 60px;
	line-height: 72px;
	color: #AF4068;
}

.contentArea {
	padding: 70px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
	PRICING
*/

.pricing {
	display: flex;
	align-items: center;
}
.pricingPrice {
	border-right: 1px solid #707070;
	padding: 15px 15px 15px 0;
	display: flex;
	flex-direction: column;
}
.pricingQuantity {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-align: center;
}
.pricingQuantifier {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
}
.pricingDesc {
	padding: 15px;
	font-size: 14px;
	line-height: 17px;
	flex-grow: 2;
}

/*
	CALENDAR
*/

.calendar {
	margin-right: 15px;
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay {
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	font-weight: bold;
	text-align: center;
}

.calendarMonth {
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}

/*
	TABLE
*/

.tableWrapper {
	background-color: #EEEEEE;
	padding: 55px 0;
}

.table thead th {
	font-weight: bold !important;
	border: none;
}

.table tbody tr:nth-of-type(odd) {
	background-color: white;
}
.table tbody tr td:nth-child(1) {
	width: 1%;
}
.table tbody tr td:nth-child(2) {
	width: 1%;
}
.table tbody tr td:nth-child(3) {
	width: 99%;
}

.table tbody tr td:nth-child(4) {
	width: 1%;
}

.table td {
	vertical-align: middle;
	white-space: nowrap;
}

/*
	SECTION
*/

.section {
	padding: 60px 0;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 60px;
}

/*
	BANNER
*/

.bannerBottom {
	padding: 20px;
	background-color: #FDC843;
	font-size: 30px;
	line-height: 36px;
	color: white;
	text-align: center;
}
