.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.section:nth-child(odd) {
  background-color: #F3F3F3;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 50px;
}
