.campIcons {
  list-style: none;
  display: flex;
  padding: 0;
}
.campIcons li {
  margin-bottom: 10px;
  font-family: "DINOTBold", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.camp {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .camp {
    height: 100%;
    margin-bottom: 0;
  }
}

.campBody {
  flex-grow: 1;
  font-size: 16px;
  line-height: 21px;
  padding: 0 20px 0 20px;
}

.campPricingBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.campFooter {
  text-align: center;
  margin-top: 10px;
  display: flex;
}
