@import "../../layout/vars.css";

/*
	FILTER BAR
*/

.navbarNav {
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.filterBar {
  overflow-y: visible;
  padding: 0;
  color: white;
  max-width: 100%;
}

.navbarNav::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.navItem {
  margin: 0;
}

.navLink {
  color: white;
  height: 80px;
  padding: 0 25px !important;
  display: flex;
  font-size: 21px;
  font-family: "DINOTBold";
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.navLink:hover {
  color: white;
}

.navLinkActive {
  padding: 0 25px !important;
  color: white;
  background-color: rgba(34, 34, 34, 0.2);
}

.filterBarRight {
  padding-left: 25px;
  border-left: 2px solid rgba(112, 112, 112, 0.25);
}

/*
	MOBILE NAV
*/

.navbarNavMobile {
	flex-direction: column;
}

.navLinkMobile {
	color: white;
	height: 54.77px;
	padding: 0;
	display: flex;
	font-size: 24px;
	font-family: "DINOTBold";
	line-height: 29px;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.navLinkMobile:hover {
	color: white;
}

.navLinkActiveModal {
	color: white;
	background-color: rgba(34, 34, 34, 0.2);
}

.expandBtn {
	cursor: pointer;
	vertical-align: middle;
}

.dividerDot {
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #AF4068;
}

.goText {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	font-family: "DIN Round OT Bold", sans-serif;
	letter-spacing: 1px;
	line-height: 15px;
}

.mobileNavDescription > p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin: 0;
}

.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

}

.section:nth-child(odd) {
  background-color: #F3F3F3;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 50px;
}

.membershipDetailHeader {
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:flex;
	flex-direction: column;
	flex:1;
	max-width: 100%;
}


.membershipDetailHeaderHeading {
	text-align: center;
	padding: 20px 20px 15px 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	background-color: rgba(0,0,0,.1);
}

.ticketComparisonSectionTitle {
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	font-size: 30px;
	line-height: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.ticketComparisonSectionDescription {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}

.ticketComparisonSectionLink {
	font-size: 18px;
	line-height: 22px;
	color: #40AF49;
}

.membershipDetailHeaderBody {
	padding: 20px 15px 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticketPricing {
	font-size: 12px;
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
}

.dropdownToggle {
	font-family: "DIN Round OT Bold", sans-serif;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	border-radius: 22px;
	background-color: white;
	padding: 0 50px;
	transition: 1;
}

.dropdownToggle:focus {
	font-family: "DIN Round OT Bold", sans-serif;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	background-color: white;
    border-radius: 22px 22px 0 0;
	padding: 0 50px;
	transition: 0.5;
}

.dropdownMenu {
	/* padding: 10px 20px; */
	padding: 0px 8px;
	border-radius: 0 0 22px 22px;
	top: 248px !important;
	z-index: 1;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

.dropdownMenu a {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 15px 1.5rem !important;
}

.dropdownMenu a + a {
	border-top: 1px solid #707070;
}

.dropdownMenu a:active {
	background-color: white !important;
}

.dropdownMenu a:hover {
	border-radius: 0 0 22px 22px;
}


.ctaButton {
	margin-top: 20px;
}

.ticketPrices, .ticketPricesXS, .ticketPricesMD{
	text-align: center;
	margin-bottom: 10px;
}

.ticketPrices{
	line-height: 52px;
	font-size: 48px;
}
.ticketPricesSup {
	font-size: 28px;
}

.ticketPricesXS{
	line-height: 20px;
	font-size: 16px;
	margin-bottom: 15px;
}
.ticketPricesXSSup{
	font-size: 10px;
}

.ticketPricesMD{
	line-height: 30px;
	font-size: 24px;
	margin-bottom: 30px;
}
.ticketPricesMDSup{
	font-size: 16px;
}

.ctaDetail {
	margin-top: 20px;
	text-align: center;
}

.comparisonCol{
	display: flex;
	flex: 1;
	border-top: 1px solid #808080;
}

.membershipBestValueHeaderContainer {
	position: absolute;
	top: -32px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: red;
	padding: 5px 30px;
	border-radius: 5px;
	display: flex;
	white-space: nowrap;
}

@media (max-width: 1200px) {
	.membershipBestValueHeaderContainer {
		position: absolute;
		top: -32px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		background-color: red;
		padding: 5px 30px;
		border-radius: 5px;
		display: flex;
		white-space: nowrap;
	}

	.dropdownToggle {
		padding: 0 30px;
	}

	.dropdownToggle:focus {
		padding: 0 30px;
		border-radius: 22px 22px 0 0;
	}

	.dropdownMenu {
		padding: 0px;
		z-index: 1;
	}

	.dropdownMenu a {
		padding: 15px 0.75rem !important;
	}
}

@media (max-width: 991px) {
	.membershipBestValueHeaderContainer {
		position: absolute;
		top: -32px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		background-color: red;
		padding: 5px 30px;
		border-radius: 5px;
		display: flex;
		white-space: nowrap;
	}
}

@media (max-width: 767px) {
	.membershipBestValueHeaderContainer {
		position: absolute;
		top: -32px;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		background-color: red;
		padding: 5px 30px;
		border-radius: 5px;
		display: flex;
		white-space: nowrap;
	}
}

.membershipDetailHeaderContainer {
	display: flex;
}

.comparisonRowTextContainer {
	padding-right: 0;
	align-items: center;
	border-top: 1px solid #808080;
}

.comparisonRow:nth-child(2) > .comparisonCol, .comparisonRow:nth-child(2) > .comparisonRowTextContainer{
	border: none !important;
}


@media (max-width: 768px) {
	.comparisonCol {
		padding: 0;
	}
	.membershipDetailHeaderContainer {
		padding: 0;
	}
	.comparisonRowTextContainer {
		justify-content: center;
	}
	.membershipDetailHeaderBody {
		padding: 20px 10px 5px 10px;
	}
}

.comparisonItemLG, .comparisonItemSM {
	background-color: rgba(255,255,255,.5);
	text-align: center;
	padding: 15px;
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.comparisonRow:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.comparisonRow:last-of-type .comparisonCol > div {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.comparisonItemLG {
	font-size: 25px;
}

.comparisonItemSM {
	font-size: 16px;
}

.comparisonRow {
	/* border-bottom: 1px solid #808080; */
	display: flex;
}

.comparisonRow:last-child {
	border: none;
}

.membershipDetailContainerMobile {
	padding-bottom: 50px;
}

.mobileComparisonLabel  {
	text-align: left;
	padding-right: 30px;
}

.wholePageEditButton {
	position: absolute;
	top: -40px;
	left: -20px;
}

/*
	MODAL
*/

.modal > div {
	border-radius: 0;
}

.modalHeader {
	border: 0;
	padding: 30px 30px 20px 30px;
}

.modalTitle {
	text-align: center;
	font-family: "Lifehack Basic", sans-serif;
	font-size: 60px;
	line-height: 72px;
	color: #AF4068;
	margin-bottom: 20px;
}

.modalBody {
	padding: 0 35px 35px 35px;
}

.modalContent {
	border-radius: 0;
	border: 0;
}

.modalButton {
	text-align: center;
	margin: 70px 0 35px 0;
}

/*
	MODAL | MOBILE NAV
*/

.modalHeaderMobile {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	padding: 30px 50px 20px 50px;
}

.modalBodyMobile {
	padding: 0;
}

.modalDialogMobile {
	border: 0;
	border-radius: 0;
}

.spanLink, .spanLinkWhite, .spanLinkGreen {
	cursor: pointer;
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
}

.spanLinkGreen {
	color: #40AF49;
}

.spanLinkWhite {
	color: #fff;
	font-size: 15px;
	text-align: center;
}


.giftDropdownToggle {
	font-family: "DIN Round OT Bold", sans-serif;
	position: relative;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	border-radius: 22px;
	background-color: white;
	padding: 0 50px;
  min-width: 10rem;
	transition: 1;
}

.giftDropdownToggle:focus {
	font-family: "DIN Round OT Bold", sans-serif;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	background-color: white;
    border-radius: 22px 22px 0 0;
	padding: 0 50px;
	transition: 0.5;
}

.giftDropdown {
	position: relative;
	display: inline-block;
}
.joinBox {
  position: relative;
}

.giftDropdownMenu {
	/* padding: 10px 20px; */
	position: absolute !important;
	border-radius: 0 0 22px 22px;
  margin-top: 0;
  bottom: 0;
  left: -1px !important;
  right: 0px !important;
  min-width: none !important;
  padding: 0 !important;
  overflow: hidden;
	/* Removes the functionality for the dropdown to move up if it runs off the page */
}

.giftDropdownMenu a {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
  background-color: #FFF;
	padding: 15px 1.5rem !important;
}

.giftDropdownMenu a + a {
	border-top: 1px solid #707070;
}

.giftDropdownMenu a:active {
	background-color: white !important;
}


.giftBox {
	display: none;
}

.giftToggle {
	display: none;
}

.giftToggle:checked ~ .giftBox{
	display: block;
}

.giftToggle:checked ~ .joinBox{
	display: none;
}

.joinLabel {
	display: none;
}
.giftLabel {
	display: block;
}

.joinLabel, .giftLabel {
	margin-top: 5px;
	text-decoration: underline;
	text-align: center;
}

.giftToggle:checked ~ .joinLabel{
	display: block;
}

.giftToggle:checked ~ .giftLabel{
	display: none;
}


.adoptTitle {
  margin-bottom: 35px;
}

.adoptFeaturePriceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adoptFeaturePrice {
  font-family: 'DINOT', sans-serif;
  font-size: 3em;
  padding-right: 10px;
}

.adoptFeaturePriceDetail {
  font-family: "Lifehack Sans", sans-serif;
  font-size: 1.5em;
  padding-left: 10px;
}

.adoptFeatureHeaderIntro {
  font-family: "Lifehack Italic", sans-serif;
  margin-bottom: 10px;
}

.adoptFeatureHeader {
  text-transform: uppercase;
  font-family: "Lifehack Sans", sans-serif;
  font-size: 3.8rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  line-height: 1.4;
  width: fit-content;
  margin: 0 auto;
}

.adoptFeatureHeaderOutro {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 2.1em;
  margin-top: 5px;
}

.adoptFeatureBody {
  padding-left: 30px;
}

@media screen and (max-width: 992px) {

  .adoptFeatureBody {
    padding-left: 0;
  }

}

@media screen and (max-width: 767px) {
	.navLink {
		display: none;
		padding: 0 !important;
	}

	.navLinkActive {
		display: flex;
		background-color: transparent;
		padding: 0 !important;
	}
}