.footer {
  display: flex;
  background-color: rgb(253, 200, 67);
  min-height: 279px;
  padding: 56px 0;
  @media (max-width: 1024px) {
    text-align: center;
  }
  .linkList:first-child {
    margin-bottom: 10px;
  }
  .linkList {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    li {
      a {
        color: #db1c0a;
      }
    }
    li + li {
      margin-top: 10px;
    }
  }
  .socialMedia {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    li + li {
      margin-left: 10px;
    }
    @media (min-width: 1024px) {
    }
  }
}
