.contentWrapper {
  margin-top: 16em;
  min-height: 500px;
  z-index: 1;
}

.title {
  font-family: "Lifehack Sans";
  font-weight: "Bold";
  line-height: 60px;
  font-size: 160px;
  color: #AF4068;
}

.subhead {
  font-family: "Lifehack Basic";
  font-weight: "Regular";
  line-height: 60px;
  font-size: 48px;
  color: #3B3B3B;
  margin-top: 0.5em;
}

.moveIcon > a > span {
  flex-direction: row-reverse;
}

.moveIcon > a > span > img {
  margin-left: 0 !important;
  margin-right: .5em;
}

.message {
  display: inline-block;
  text-align: center;
  height: auto;
  max-width: 310px;
}

.message > p > a {
    color: #FBA24F;
}

.message > p > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fba24f;
}

.otterLeft {
  position: absolute;
  top: 4em;
  left: 2em;
  z-index: -1;
}

.rocketLeft {
  position: absolute;
  bottom: 0;
  left: -2em;
  z-index: -1;
}

.otterMain {
  position: absolute;
  top: 14em;
  right: -6em;
  z-index: -1;
}

.rightWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}

.planetTop {
  position: absolute;
  top: -4em;
  right: 8em;
  z-index: -1;
}

.spaceTop {
  position: absolute;
  top: 8em;
  right: -3em;
  z-index: -1;
}

.otterRight {
  position: absolute;
  top: 24em;
  right: -6em;
}

.starsRight {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
}

.starsLeft {
  display: none;
}

@media (max-width: 1200px) {
  .otterLeft {
    left: 0;
  }
  .rocketLeft {
    left: -4em;
  }
  .spaceTop {
    right: -7em;
  }
  .otterMain {
    right: -10em;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 140px;
  }
  .subhead {
    font-size: 40px;
  }
  .rocketLeft {
    left: -6em;
  }
  .otterMain {
    top: 15em;
  }
}

@media (max-width: 992px) {
  .otterLeft {
    left: -100em;
  }
  .rocketLeft {
    left: -100em;
  }
  .otterMain {
    height: 660px;
    top: 22em;
    right: 0;
    left: -2em;
  }
  .planetTop {
    top: 2em;
    right: 0;
    left: -12em;
  }
  .spaceTop {
    top: 34em;
    right: 0;
  }
  .otterRight {
    top: 14em;
    right: -6em;
  }
  .starsRight {
    bottom: 36em;
    right: 0;
  }
}

@media (max-width: 900px) {
  .otterMain {
    height: 620px;
    top: 22em;
    left: -4em;
  }
  .planetTop {
    top: 2em;
    left: -16em;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 123px;
  }
  .subhead {
    font-size: 32px;
  }
  .otterMain {
    height: 500px;
    top: 24em;
    left: -6em;
  }
  .planetTop {
    left: -18em;
  }
}

@media (max-width: 682px) {
  .otterMain {
    height: 400px;
    top: 30em;
    left: -8em;
  }
  .otterRight {
    top: 16em;
  }
  .spaceTop {
    top: 38em;
    right: 0;
  }
  .starsRight {
    right: -2em;
  }
}

@media (max-width: 500px) {
  .contentWrapper {
    min-height: none;
    margin-top: 20em;
  }
  .otterMain {
    height: 300px;
    top: 40em;
    left: -10em;
  }
  .otterRight {
    top: 19em;
  }
  .spaceTop {
    top: 42em;
    right: -2em;
  }
  .starsLeft {
    display: block;
    position: absolute;
    top: 24em;
    left: -9em;
    z-index: -2;
  }
}
