.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gradient {
  height: 200px;
  background: linear-gradient(
    180deg,
    rgba(0, 130, 181, 0.50) 0%,
    rgba(0, 130, 181, 0) 100%
  );
}

.title {
  font-family: "Lifehack Sans";
  font-weight: "Bold";
  line-height: 59px;
  font-size: 72px;
  color: #af4068;
}

.subhead {
  font-family: "Lifehack Sans";
  font-weight: "Regular";
  line-height: 36px;
  font-size: 48px;
  color: #3b3b3b;
}

.moveIcon > a > span {
  flex-direction: row-reverse;
}

.moveIcon > a > span > img {
  margin-left: 0 !important;
  margin-right: .5em;
}

.message {
  display: inline-block;
  height: auto;
  max-width: 340px;
}

.message > p > a {
  color: #fba24f;
}

.message > p > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #fba24f;
}

@media (max-width: 1200px) {
  .bear {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .contentWrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .gradient {
    height: 160px;
  }
  .ctaBtn {
    margin-bottom: 2em;
  }
}

@media (max-width: 500px) {
  .gradient {
    height: 100px;
  }
}
