.callout {
  background-color: rgba(247, 247, 247, 1);
  padding: 22px 37px;
}

.callout :global .row [class^="col-"] p:last-child {
  margin-bottom: 0;
}

.callout :global .row [class^="col-"] + [class^="col-"] {
  border-left: 1px solid rgb(251, 162, 79);
}
