.section {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}

.sectionOdd:nth-child(odd) {
	background-color: #F3F3F3;
}
  
.sectionEven:nth-child(even) {
	background-color: #F3F3F3;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.sectionHeader {
	text-align: center;
	margin-bottom: 50px;	
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 43px;
	margin-bottom: 0;
}

.sectionDesc {
	font-size: 24px;
	line-height: 29px;
	margin-top: 20px;
}