.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.heroImg {
  object-fit: contain;
  object-position: center top;
}

.heroForegroundContainer {
  position: relative;
  width: 75%;
  height: 200px;
  overflow: hidden;
  margin-top: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 992px) {
  .hero {
    height: 600px;
  }
  .heroForegroundContainer {
    height: 300px;
  }
}

@media (max-width: 700px) {
  .heroForegroundContainer {
    width: 95%;
  }
}

