.gridCell {
  margin-bottom: 30px;
}
.gridContainer {
  text-align: center;
  padding-bottom: 20px;
}

.spinner {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.buttonContainer {
  text-align: center;
  padding: 60px 0;
}

.modalDialog {
  border-radius: 0 !important;
}

.modalHeader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  border: none;
}

.modalClose {
  background: url(/images/icon-close-white.png) center center no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px;
  border: none;
}

.modalBody {
  padding: 0;
}

.modalContent {
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.modalFooter {
  justify-content: space-between;
  color: white;
  border: none;
}
