.title {
  text-align: center;
}

.section {
  padding: 40px 0;
}

.sponsorRow {
  justify-content: center;
}


.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  margin-bottom: 15px;
  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(34, 34, 34);
    width: 50%;
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(34, 34, 34);
    width: 50%;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 74px;
  min-width: 74px;
  border-radius: 50%;
  background-color: rgb(251, 185, 16);
  margin: 0 25px;
}

.separatorTitle {
  position: absolute;
  top: 100%;
  width: 100%;
  font-family: "DINOT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal !important;
  margin: 8px 0 0 0;
  text-align: center;
  white-space: nowrap;
}

.separatorCenter {
  position: relative;
}

@media (min-width: 768px) {
  .columns {
    text-align: left;
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .columns {
    column-count: 3;
  }
}

.linkWrapper {
  margin-left: 1em;
  text-indent: -1em;
}
