.cta {
  position: relative;
  background-color: darkblue;
  color: #fff;
	min-height: 100px;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	margin-bottom: 30px;
}

.ctaEdit {
	font-family: "DINOT", sans-serif;
	font-size: 16px;
	text-decoration: underline;
	color: #40AF49;
}

.ctaImage {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	width: 142px;
	background-color: rgba(59, 59, 59, 0.25);
  /*
    Ensure golden ratio for the cta size while limiting it to some extend to
    the viewport width
  */
	/* height: 800px; */
}
.ctaImage img {
	width: 72px;
}
.ctaDetails {
  padding: 12px 24px 12px 24px;
	align-items: center;
}

.ctaTitle {
	font-family: "Lifehack Sans Medium", sans-serif;
	font-size: 36px;
	line-height: 40px;
  margin: 0;
	margin-right: 15px;
	min-width: 140px;
}

.ctaDescription {
  margin: 0;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 20px;
}

.ctaDescription a {
	color: white;
	font-family: "DINOTBold", sans-serif;
}

.ctaDescription a:hover {
	color: white;
}

.ctaDescription p {
  margin-bottom: 0
}

.ctaLink {
	display: block;
	padding: 0 20px;
	height: 34px;
	border-radius: 17px;
	background-color: white;
	font-size: 16px;
	line-height: 34px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	color: #40AF49;
	text-decoration: none;
}

.dropdownToggle {
	font-family: "DIN Round OT Bold", sans-serif;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	border-radius: 22px;
	background-color: white;
	padding: 0 30px;
}

.dropdownMenu {
	width: 100%;
	padding: 10px 20px;
}

.dropdownMenu a {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dropdownMenu a + a {
	border-top: 1px solid #707070;
}

@media (min-width: 768px) {
	.ctaImage {
		display: flex;
	}
	.ctaDetails {
		display: flex;
	}
	.ctaDescription {
		margin-right: 27px;
		margin-bottom: 0;
	}
}

/* 
DETAILED CTA - Event pages
*/

.ctaDetailed {
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px;
}

.ctaBodyWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}