@font-face {
  font-family: "DINOT";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINOT.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DINOTBold";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINOT-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DINOTItalic";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINOT-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DIN Round OT";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINRoundOT.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DIN Round OT Bold";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINRoundOT-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DINCondensedBold";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/DIN/DIN\ Condensed\ Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DINOTMedium";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/DIN/FontFont - DINOT-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Lifehack Basic";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lifehack/DearType - Lifehack Basic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lifehack Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lifehack/DearType - Lifehack Sans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lifehack Sans Medium";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lifehack/DearType - Lifehack Sans Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Lifehack";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Lifehack/DearType - Lifehack.woff") format("woff");
  font-display: swap;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

body {
  font-family: "DINOT", sans-serif;
}

a { color: #40AF49; }

em, i {
  font-family: 'DINOTItalic', sans-serif;
	font-style: normal;
}

b,strong,h1,h2,h3,h4,h5,h6 {
  font-family: 'DINOTBold', sans-serif;
	font-weight: normal;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
	font-weight: normal;
}

/* BEGIN FIXES FOR EXCESS MARGINS */

.text-blocks :first-child {
	margin-top: 0;
}

.text-blocks :first-child :first-child {
	margin-top: 0;
}

.body-text :first-child {
	margin-top: 0;
}

/* END FIXES FOR EXCESS MARGINS */

/* BEGIN OVERRIDE STYLES APPLIED BY INCOGNITO */
.mapplic-search-input {
	text-indent: 0;
}

input[class^='cognito-timepicker-'] {
  text-indent: 0;
}

/* END OVERRIDE STYLES APPLIED BY INCOGNITO */

.embed-youtube {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	margin-bottom: 25px;
}

.embed-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
	.kczoo-navbar .dropdown a:hover {
		color: white;
		text-decoration: none;
	}

	.kczoo-navbar .dropdown.show {
		background-color: #40AF49;
		border-radius: 5px;
	}
	
	.kczoo-navbar .nav-item.dropdown.active {
		background-color: #40AF49;
		border-radius: 5px;
	}	

	.kczoo-navbar .dropdown.show:after {
		 content: "";
		 position: absolute;
		 top: 100%;
		 left: 50%;
		 margin-left: -10px;
		 border-width: 7px;
		 border-style: solid;
		 border-color: #40AF49 transparent transparent transparent;
	}
}

/* BEGIN airbnb/react-dates */

.CalendarDay__selected {
  background: #FBA24F !important;
}

.filterDate .DateInput_input, .filterDate .DateInput, .filterDate .SingleDatePickerInput {
	background: transparent !important;
	border: none !important;
	color: white;
	padding: 0;
	cursor: pointer;
	width: auto;
}

/* END airbnb/react-dates */

.wio-link > img {
  filter: invert(100%);
  background-color: #b9b741 !important;
  padding: 15px;
  margin: 10px;
  min-width: 55px;
  min-height: 55px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 10px;
}

@keyframes rotate {
  0%{
		transform: rotate(200deg);
    opacity: 0;
  }
  3%{
    opacity: .5;
  }
  5%{
    opacity: .9;
  }
  8%{
    opacity: 0;
  }
	10% {
    opacity: 0;
		transform: rotate(480deg);
  }
	100% {
    opacity: 0;
		transform: rotate(200deg);
	}
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  2%{
    transform: scale(1.10);
  }
  3%{
    transform: scale(1);
  }
  5%{
    transform: scale(1.10);
  }
  7%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}

.wio-link {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin: 15px;
  border-radius: 30px;
  background-color: #4846b0;
  justify-content: center;
  align-items: center;
  z-index: 100;
	position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 12px rgba(0,0,0,.3), 2px 2px 8px rgba(0,0,0,0.3), 2px 2px 3px rgba(72,70,176,.3);
  animation: pulse 6s ease-in-out 6.1s infinite;
}

.wio-link::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#fff, #4846b0),  linear-gradient(#4846b0, #fff);
    animation-fill-mode: both;
		animation: rotate 6s ease-in-out infinite;
}
	
.wil-link::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
}

@keyframes homeBounce {
	0% {
    top: -30px;
	}
  40% {
    top: -10px;
  }
  60% {
    top: 0px;
  }
	70% {
    top: -6px;
  }
	80% {
    top: -10px;
  }
	85% {
    top: -6px;
  }
	100% {
    top: 0px;
  }
}


.aquariumCardBounce {
  animation: homeBounce .6s linear .8s both;
}