:root {
  --zoo-green: #40af49;
  --zoo-blue: #0082b5;
  --cardinal: #db1c0a;
  --orchid: #af4068;
  --tangerine: #fba24f;
  --sea: #3bbc8e;
  --terra-cotta: #c6443e;
  --pumpkin: #fd6743;
  --canary: #fdc843;
  --jazzoo-red: #e25b1f;
  --jazzoo-orange: #fba24f;
  --jazzoo-green: #86c891;
  --jazzoo-green--light: #b8d544;
  --jazzoo-blue: #63cbe6;
}