.footer {
  --background-overlap: -230px;
  z-index: 101;
  position: relative;
  display: flex;
  background-image: url("/images/jazzoo/jazzoo-footer.png");
  background-size: cover;
  background-position: top;
  min-height: 279px;
  transform: translateY(var(--background-overlap));
  margin-bottom: var(--background-overlap);
  padding: 370px 0 56px 0;
  @media (max-width: 1024px) {
    text-align: center;
  }
  .linkCol {
    min-height: 160px;
  }
  .linkList {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    li {
      a {
        color: #ffd10a;
        font-size: 16px;
        font-weight: bold;
        font-family: "DINOTBold", "DINOT", sans-serif;
      }
    }
    li + li {
      margin-top: 10px;
    }
  }
  .socialMedia {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 10px;
    }
    @media (min-width: 1024px) {
    }
  }
}

@media (max-width: 769px) {
  .footer {
    --background-overlap: -290px;
  }
}
