.titleBar, .titleBarNoCallout {
	margin-top: -120px;
	margin-bottom: 100px;
	padding: 60px 8.333333% 0 8.333333%;
	border-radius: 5px;
}

.titleBarNoCallout {
	text-align: center;
}

.titleBarTop {
	margin-top: -60px;
	height: 120px;
	box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.16);
}

.titleBarTitle, .titleBarTitleNoCallout {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 56px;
	line-height: 67px;
	font-weight: normal;
	color: #AF4068;
}

.titleBarTitle {
	text-align: left;
}

.titleBarDesc {
	font-family: "DINOTBold", sans-serif;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 30px;
}

@media (min-width: 992px) {
	.titleBar, .titleBarNoCallout {
		margin-bottom: 60px;
	}
	
	.titleBarTitle, .titleBarTitleNoCallout {
		font-size: 60px;
		line-height: 72px;
	}	
}

.callOut {
	background-color: #FDC843;
	padding: 13px;
}

.calloutTitle {
	font-weight: bold;
	font-family: 'DINOTBold', 'DINOT', sans-serif;
}

.callOut a { color: #40AF49; }

.callOutInner {
	border: 1px solid white;
	padding: 24px;
	height: 100%;
}

.callOutButtonContainer {
	margin-top: 1.5em;
}

@media (max-width: 576px) {
	.titleBar, .titleBarNoCallout {
		padding-top: 30px;
	}
	.titleBarTitle, .titleBarTitleNoCallout {
		font-size: 48px;
		line-height: 57px;
		margin-bottom: 20px;
	}
	.titleBarDesc {
		font-family: 'DINOT', sans-serif;
		font-size: 18px;
		line-height: 23px;
		margin-bottom: 0;
	}
	.callOut {
		margin-top: 30px;
	}
}
