@import "../../layout/vars.css";

.titlebar {
  padding-top: 70px;
}

.title {
  color: #2b4d20 !important;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Catalpa", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.description {
  //margin-bottom: 45px;
}
