.box, .boxMobile {
	background-color: #EEEEEE;
	height: 100%;
	border-radius: 5px;
	display: flex;
}
.boxMobile {
	flex-direction: column;
}

.boxContainer {
	margin: 15px 0;
} 

.boxImage, .boxImageMobile {
	border-radius: 5px 0 0 5px;
	width: 36.170213%;
	background-size: cover;
	background-position: center center;
}
@media (max-width: 576px) {
	.boxImage {
		width: 24.918033%;
	}
}

.boxImageMobile {
	min-height: 120px;
	width: 100%;
}

.boxContent, .boxContentMobile {
	flex: 1;
	color: white;
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.boxContentMobile {
	padding: 15px 30px 30px 30px;
	align-items: center;
	text-align: center;
}


.boxTitle {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 25px;
}

.boxDescription {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 30px;
}

@media (max-width: 500px) {
	.boxContent {
		padding: 15px 30px 30px 30px;
		align-items: center;
		text-align: center;
	}
	.box {
		flex-direction: column;
	}
	.boxImage {
		min-height: 120px;
		width: 100%;
	}	
}