.box {
	background-color: #EEEEEE;
	height: 100%;
	border-radius: 5px;
	display: flex;
}

@media (max-width: 992px) {
	.box {
		height: auto;
		margin-bottom: 30px;
	}
}

.boxImage {
	border-radius: 5px 0 0 5px;
	width: 36.170213%;
	background-size: cover;
	background-position: center center;
}
@media (max-width: 576px) {
	.boxImage {
		width: 24.918033%;
	}
}

.boxContent {
	flex: 1;
	color: white;
	padding: 50px 30px;
}

.boxTitle {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 25px;
}

.boxDescription {
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 30px;
}

@media (max-width: 992px) {
	/*
	.box {
		flex-direction: column;
	}
	*/
	.boxContent {
		text-align: center;
	}
	/*
	.boxImage {
		height: 120px;
		width: 100%;
	}
	*/
	.boxImage {
		display: none;
	}
}
