.carouselPrev {
	background: url(/images/icon-carousel-arrow-prev.svg) no-repeat;
	position: absolute;
	z-index: 50;
	top: 50%;
	left: -50px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.carouselNext {
	background: url(/images/icon-carousel-arrow-next.svg) no-repeat;
	position: absolute;
	z-index: 50;
	top: 50%;
	right: -50px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.carouselContainer :global .slick-dots li {
	margin: 0 10px !important;	
}

.carouselContainer :global .slick-dots li button {
	background-color: rgba(34, 34, 34, 0.25) !important;
	border-radius: 10px;
}

.carouselContainer :global .slick-dots li button::before {
	display: none;
}

.carouselContainer :global .slick-dots li.slick-active button {
	background-color: white !important;
}

.carouselContainer {
	background-color: #FDC843;
	padding: 45px 35px 65px 35px;
}

.carouselHeader {
	text-align: center;
	justify-content: center;
	margin-bottom: 20px;
}
@media (min-width: 992px) {
	.carouselHeader {
		display: flex;
	}
	.carouselTitle {
		margin-right: 20px;
		margin-bottom: 0;
	}
}

.carouselTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 43px;
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	@media (max-width: 992px) {
		font-size: 24px;
		line-height: 29px;
	}
}
.carouselTitle a {
	margin-left: 30px;
}
.specialEventsLink { 
	margin: 0 40px; 
}

.carouselWrapper {
	padding: 0 50px 0 50px;
}

.eventContainer {
	text-align: center;
	padding: 15px;
}

.eventImageContainer {
	margin-bottom: 20px;
}

.eventImage {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}

.eventTitle {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 18px;
	line-height: 23px;
	margin: 0;
}

.eventTitleLink {
	color: black;
}

.eventTitleLink:hover {
	text-decoration: none;
	color: black;
}

.eventDate {
	font-size: 18px;
	line-height: 23px;
}

@media (max-width: 465px) {
	.carouselContainer {
		padding-bottom: 120px;
	}
	:global(.slick-dots) {
		bottom: -70px;
	}
}

