.previewLink:hover {
	text-decoration: none !important;
}

.preview {
	position: relative;
	min-height: 302px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.previewImage {
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px 5px 0 0;
}

.previewHeader {
	background-color: rgb(0, 130, 181);
	display: flex;
	align-items: stretch;
	border-radius: 0 0 5px 5px;
}

.previewWrapper {
	flex-grow: 1;
	padding: 13px 10px 11px 20px;
	width: calc(100% - 72px);
}

.previewTitle {
	margin-bottom: 0;
	font-family: "Lifehack Sans", sans-serif;
  font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.previewTitle a {
	color: white;
}

.previewTitle:hover {
	color: white;
	text-decoration: none;
}

.previewDescription {
	display: none;
	color: #222222;
}

.previewDescription p {
	margin-bottom: 0;
}

.previewArrow {
	width: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	color: white;
	background-color: rgba(59,59,59,.25);
}

.previewArrow:hover {
	color: white;
	text-decoration: none;
}

/*
.previewWide .previewImage {
	background-position: left center;
}
*/

@media (min-width: 1200px) {
	.previewTall .previewDescription, .previewWide .previewDescription {
		display: block;
	}
	
	.previewWide .previewImage {
		background-position: center;
	}

	.previewWide .previewTitle {
		overflow: visible;
	}

	.previewWide .previewDescription {
		margin-left: 20px;
	}

	.previewWide .previewWrapper {
		display: flex;
		align-items: center;
	}
}
