.icon {
	overflow: hidden;
	text-indent: -999px;
	display: inline-block;
	vertical-align: middle;
}

.iconCalendar {
	background: url(/images/icon-calendar.svg) no-repeat;
	width: 22px;
	height: 24px;
}

.iconAge {
	background: url(/images/icon-age.svg) no-repeat;
	width: 24px;
	height: 20px;
}

.iconMap {
	background: url(/images/icon-map.svg) no-repeat;
	width: 20px;
	height: 18px;
}

.iconClock {
	background: url(/images/icon-clock.svg) no-repeat;
	width: 20px;
	height: 20px;
}

.iconHome {
	background-image: url(/images/icon-home.svg);
	background-size: cover;
	width: 25px;
	height: 20px;
}

.iconSearch {
	background-image: url(/images/icon-search.svg);
	background-size: cover;
	width: 21px;
	height: 21px;
}

.iconRegister {
	background-image: url(/images/icon-register.svg);
	width: 17px;
	height: 18px;
}

.iconPin {
	background-image: url(/images/icon-pin.svg);
	width: 10px;
	height: 15px;
}
