.featureLink {
	text-decoration: none !important;
}

.featureContainer {
	height: 100%;
	padding-bottom: 30px;
}

.feature {
	position: relative;
	height: 100%;
	min-height: 235px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.featureImage {
	flex-grow: 1;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 5px 5px 0 0;
}

/*
.featurePicture {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	position: relative;
}

.featureImage {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	border-radius: 5px 5px 0 0;
	object-fit: cover;
	object-position: top center;
}
*/

.featureHeader {
	background-color: rgb(0, 130, 181);
	display: flex;
	align-items: stretch;
	border-radius: 0 0 5px 5px;
}

.featureWrapper {
	flex-grow: 1;
	padding: 17px 10px 16px 20px;
	width: calc(100% - 72px);
}

.featureTitle {
	margin-bottom: 0;
	font-family: "Lifehack Sans", sans-serif;
  font-size: 32px;
	line-height: 39px;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.featureTitle a {
	color: white;
}

.featureTitle a:hover {
	text-decoration: none;
}

.featureDescription {
	font-size: 14px;
	line-height: 20px;
	display: none;
	color: #222222;
}

.featureDescription p {
	margin-bottom: 0;
}

.featureArrow {
	padding-bottom: 5px;
	width: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	color: white;
	background-color: rgba(59,59,59,.25);
}

.featureArrow:hover {
	color: white;
	text-decoration: none;
}

@media (min-width: 1200px) {
	.featureTitle {
		font-size: 24px;
	}
	
	.featureWide .featureTitle {
		font-size: 28px;
	}	
	
	.featureTall .featureTitle {
		font-size: 32px;
	}	

	.featureWide .featureTitle {
		overflow: visible;
	}
	
	.featureTall .featureDescription, .featureWide .featureDescription {
		display: block;
	}
	
	.featureWide .featureImage {
		background-position: center;
	}

	.featureWide .featureDescription {
		margin-left: 20px;
	}

	.featureWide .featureWrapper {
		display: flex;
		align-items: center;
	}
}
