@media (min-width: 1024px) {
  .fringe {
    position: relative;
  }
  .left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: url("https://images.prismic.io/kansascityzoo/1379dd6d-fade-4767-bb0e-9a10365f4fc4_left.png?auto=compress,format");
    background-repeat: repeat-y;
    background-size: 168px auto;
    width: 168px;
    height: 100%;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-image: url("https://images.prismic.io/kansascityzoo/9b2f2f22-3cac-494f-bc5b-fa5940d5ab6c_right.png?auto=compress,format");
    background-repeat: repeat-y;
    background-size: 168px auto;
    width: 168px;
    height: 100%;
  }
}
@media (max-width: 1400px) {
  .left {
    background-position-x: -50px;
  }
  .right {
    background-position-x: 50px;
  }
}
