.slantDown {
  height: 60px;
  width: 100%;
  background-color: #361A05;
  clip-path: polygon(
    0 0, /* left top */
    0 10%, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

.footer {
  position: relative;
  z-index: 3;
  display: flex;
  min-height: 279px;
  padding: 76px 0;
  background-color: #361A05;
  @media (max-width: 1024px) {
    text-align: center;
  }
  .footerLogo {
    max-width: 200px;
  }
  .linkList:first-child {
    margin-bottom: 10px;
  }
  .linkList {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    li + li {
      margin-top: 10px;
    }
  }
  .socialMedia {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    li + li {
      margin-left: 10px;
    }
  }
}
