.pricing {
	text-align: center;
	color: #3B3B3B;
}
.pricingInverse {
	color: white;
}
.pricingQuantity {
	font-family: "DINOTBold", sans-serif;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
}
.pricingQuantifier {
	text-transform: uppercase;
	font-family: "DINCondensedBold";
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	white-space: nowrap;
}
.pricingDesc {
	padding: 15px;
	font-size: 18px;
	line-height: 26px;
}

.pricingPrice {
	
}

@media (min-width: 576px) {
	.pricing {
		display: flex;
		align-items: center;
		text-align: left;
	}
	.pricingPrice {
		display: flex;
		flex-direction: column;
		padding: 0 20px 0 0;
	}
	.pricingPrice + .pricingPrice {
		border-left: 1px solid #707070;
		padding-left: 20px;
	}
	.pricingDesc {
		flex-grow: 2;
		border-left: 1px solid #707070;
	}
	.pricingButton {
		
	}
}
