.editLink {
	font-size: 16px;
	font-weight: normal;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
	TITLE BAR
*/

.titleBar {
	margin-top: -150px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 -50px 6px rgba(0, 0, 0, 0.16);
	padding: 30px;
	min-height: 250px;
}

.titleBarTitle {
	font-size: 60px;
	font-weight: bold;
}

@media (min-width: 768px) {
	.titleBar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 27px 70px;
	}
	.callOut {
		max-width: 300px;
	}
}

.callOut {
	background-color: #FDC843;
	padding: 13px;
}

.callOut a { color: #40AF49; }

.callOutInner {
	border: 1px solid white;
	padding: 24px;
	height: 100%;
}

/*
	FILTER BAR
*/

.navbarNav {
	flex-direction: row;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
.navbarNav::-webkit-scrollbar {
	display: none;  /* Safari and Chrome */
}

.navItem {
	margin: 0;
}

.navLink {
	font-family: 'DINOTBold', sans-serif;
	color: white;
	height: 80px;
	padding: 0 15px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navLink:hover {
	color: white;
}

.navLinkActive {
	padding: 0 30px !important;
	color: white;
	background-color: rgba(34, 34, 34, 0.2);
}

.filterBar {
	padding: 0;
	background-color: #FBA24F;
	color: white;
}

.filterBarRight {
	padding-left: 25px;
	border-left: 2px solid rgba(112, 112, 112, 0.25);
}

/*
	GALLERY
*/

.galleryContainer {
	padding: 30px 0 30px 0;
}

@media (min-width: 768px) {
	.galleryContainer {
		padding: 100px 0 64px 0;
	}

	.gallery {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(10, 1fr);
		grid-auto-rows: 200px;
		grid-auto-flow: dense;
	}	
}

.galleryTile {
	background-size: cover;
	background-position: center top;
	background-color: #eff0f1;
	height: 100%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	position: relative;
	z-index: 10;
}

@media (max-width: 767px) {
	.galleryTile {
		height: 275px;
		margin-bottom: 30px;
		background-position: center center;
	}
}

.galleryTileOverlay {
	opacity: 0;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 100;
	background-color: rgba(34,34,34, 0.5);
	padding: 10px;
}
.galleryTileOverlay:hover {
	opacity: 1;
}

.galleryTileContent {
	text-align: center;
	min-height: 90px;
}
.galleryTileTitle {
	font-family: "Lifehack Sans", sans-serif;
	font-size: 36px;
	line-height: 43px;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;
}

.galleryTileOverlayNoImage {
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 100;
	padding: 10px;
	color: #979797;
}
.galleryTileOverlayNoImage button {
	display: none;
}
.galleryTileOverlayNoImage:hover {
	background-color: rgba(34,34,34, 0.5);
	color: white;
}
.galleryTileOverlayNoImage:hover h4 {
	display: none;
}
.galleryTileOverlayNoImage:hover button {
	display: inline;
}
.galleryTileTitleNoImage, .galleryTileNoImageAvail {
	font-family: "Lifehack Sans", sans-serif;
	font-size: 36px;
	line-height: 43px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0;
}

.showMoreContainer {
	margin-top: 64px;
	text-align: center;
}

/*
	MODAL
*/

.modalDialog {
}

.modalImage {
	width: 100%;
	object-fit: cover;
}

@media (min-width: 767px) {
	.modalDialog {
		display: flex;
	}

	.modalImage {
		width: 300px;
	}
}

.modalHeader {
	padding: 0;
	border: 0;
	margin-bottom: 30px;
}

.modalTitle {
	font-size: 24px;
	line-height: 31px;
	font-weight: bold;
	color: #AF4068;
}

.modalBody {
	padding: 0;
}

.modalContent {
	padding: 30px;
	border-radius: 0;
	border: 0;
}

.modalIconBar {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.modalIconBar a {
	margin-bottom: 15px;
}
@media (min-width: 767px) {
	.modalIconBar {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;
	}
	.modalIconBar a {
		margin-bottom: 0;
	}
}

.modalIconBar a {
	color: #40AF49;
}

/*
	CALL TO ACTION
*/

.cta {
	background-color: #FBA24F;
	color: white;
	font-size: 14px;
	line-height: 18px;
	padding: 20px;
	border-radius: 5px;
}

.ctaBody {
	padding-right: 5px;
	margin-bottom: 20px;
}

.ctaTitle {
	font-size: 21px;
	line-height: 29px;
	color: white;
	text-transform: uppercase;
}

@media (min-width: 767px) {
	.cta {
		display: flex;
		background-color: #FBA24F;
		justify-content: space-between;
		align-items: center;
		color: white;
		font-size: 14px;
		line-height: 18px;
		padding: 20px;
		border-radius: 5px;
	}
	.ctaBody {
		flex-grow: 1;
		margin-bottom: 0;
	}
}

/*
	ICONS
*/

.iconMap {
	display: inline-block;
	background: url(/images/icon-map-green.svg) no-repeat;
	width: 28px;
	height: 25px;
	vertical-align: middle;
}

.iconCam {
	display: inline-block;
	background: url(/images/icon-cam-green.svg) no-repeat;
	width: 31px;
	height: 23px;
	vertical-align: middle;
}

.iconHeart {
	display: inline-block;
	background: url(/images/icon-heart-green.svg) no-repeat;
	width: 31px;
	height: 26px;
	vertical-align: middle;
}

.wholePageEditButton {
	position: absolute;
	top: -33px;
	left: -33px;
}