:global(.block-img) {
  margin-bottom: 35px;
}

h2 {
  font-family: "Lifehack Basic", sans-serif;

}

.bodyText > h2 {
  font-family: "Lifehack Basic", sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
}

.banner {
  margin-top: 2.5rem;
}