.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}

}

.section:nth-child(odd) {
  background-color: #F3F3F3;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 50px;
}

.membershipDetailHeader {
	color: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:flex;
	flex-direction: column;
	flex:1;
	max-width: 100%;
}


.membershipDetailHeaderHeading {
	text-align: center;
	padding: 20px 20px 15px 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	background-color: rgba(0,0,0,.1);
}

.ticketComparisonSectionTitle {
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	font-size: 30px;
	line-height: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.ticketComparisonSectionDescription {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 20px;
}

.ticketComparisonSectionLink {
	font-size: 18px;
	line-height: 22px;
	color: #40AF49;
}

.membershipDetailHeaderBody {
	padding: 20px 15px 5px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticketPricing {
	font-size: 12px;
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
}

.ctaButton {
	margin-top: 20px;
}

.ticketPrices, .ticketPricesXS, .ticketPricesMD{
	text-align: center;
	margin-bottom: 0;
}

.ticketPrices{
	line-height: 52px;
	font-size: 48px;
}
.ticketPricesSup {
	font-size: 28px;
}

.ticketPricesXS{
	line-height: 20px;
	font-size: 16px;
}
.ticketPricesXSSup{
	font-size: 10px;
}

.ticketPricesMD{
	line-height: 30px;
	font-size: 24px;
	margin-bottom: 30px;
}
.ticketPricesMDSup{
	font-size: 16px;
}

.ctaDetail {
	margin-top: 20px;
	text-align: center;
}

.comparisonCol{
	display: flex;
	flex: 1;
}

.membershipDetailHeaderContainer {
	display: flex;
}

.comparisonRowTextContainer {
	align-items: center;
}

@media (max-width: 768px) {
	.comparisonCol {
		padding: 0;
	}
	.membershipDetailHeaderContainer {
		padding: 0;
	}
	.comparisonRowTextContainer {
		justify-content: center;
	}
	.membershipDetailHeaderBody {
		padding: 20px 10px 5px 10px;
	}
}

.doubleComparisonItemLG, .doubleComparisonItemSM, .comparisonItemLG, .comparisonItemSM {
	background-color: rgba(255,255,255,.5);
	text-align: center;
	padding: 15px;
	display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.comparisonItemLG {
	font-size: 25px;
}

.doubleComparisonItemLG {
	font-size: 25px;
}

.doubleComparisonItemLG:first-child {
	border-right: 1px solid #FFF;
}

.comparisonItemSM {
	font-size: 16px;
}

.doubleComparisonItemSM {
	font-size: 16px;
}

.doubleComparisonItemSM:first-child {
	border-right: 1px solid #FFF;
}

.comparisonRow {
	border-bottom: 1px solid #808080;
	display: flex;
}

.comparisonRow:last-child {
	border: none;
}
