.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
	TITLE BAR
*/

.titleBar {
	margin-top: -150px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 -50px 6px rgba(0, 0, 0, 0.16);
	padding: 30px;
	min-height: 250px;
}

.titleBarTitle {
	font-size: 60px;
}

@media (min-width: 768px) {
	.titleBar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 27px 70px;
	}
	.callOut {
		max-width: 300px;
	}
}

.callOut {
	background-color: #FDC843;
	padding: 13px;
}

.callOut a { color: #40AF49; }

.callOutInner {
	border: 1px solid white;
	padding: 24px;
	height: 100%;
}

/*
	FILTER BAR
*/

.filterDate {
	display: flex;
	align-items: center;
}

.filterActivityToggle {
	color: white;
}

.filterActivityToggle::after {
	display: none;
}

.filterActivityToggle:hover {
	color: white;
}

@media (max-width: 576px) {
	.filterDate {
		width: 100%;
	}
	
	.filterDate > :global(.SingleDatePicker) {
		flex-grow: 1;
	}
}

/*
	CALENDAR
*/

.calendarWrapper {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
}

.calendar {
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay {
	font-family: 'DINOTBold', sans-serif;
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
}

.calendarMonth {
	font-family: 'DINOTBold', sans-serif;
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}

/*
	FILTER BAR
*/

.filterBar {
	background-color: #FBA24F;
	color: white;
	padding: 0;
}
@media (min-width: 576px) {
	.filterBarRight {
		padding-left: 25px;
		border-left: 2px solid rgba(112, 112, 112, 0.25);
	}
}

@media (max-width: 576px) {
	.filterDate {
		padding-right: 20px;
	}
	.filterBarRight {
		padding: 7px 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		width: 100%;
	}
	.filterActivityToggle {
		display: flex;
		align-items: center;
	}
	.filterActivityName {
		flex-grow: 1;
	}
	:global(.SingleDatePicker_picker) {
		margin-left: -50px;
	}
}

/*
	ACTIVITY ROW
*/

.activityTimeRow {
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: #EEEEEE;
}
@media (max-width: 768px) {
	.activityTimeRow {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.activityTimeRow:nth-child(odd) {
	background-color: transparent;
}

.activitiesContainer {
	/*margin-bottom: 100px;*/
}

.activityDetail {
	padding-bottom: 20px;
}
.activityDetail:last-child {
	padding-bottom: 0;
}

.activityDetail + .activityDetail {
	border-top: 2px solid rgba(112, 112, 112, 0.5);
	padding-top: 20px;
}

.activityBody {
	flex-shrink: 3;
}

.activityTime {
	font-family: "DINCondensedBold", sans-serif;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 5px;
}
/*
@media (min-width: 768px) {
	.activityTime {
		padding-top: 40px;
	}
}
*/
.activityImage {
	flex-shrink: 0;
}
.activityImage img {
	width: 100%;
}
@media (max-width: 768px) {
	.activityImage {
		margin-bottom: 15px;
	}
}

.activityLocation {
	display: flex;
	justify-content: space-between;
}
.activityLocationDetails {
	padding-right: 30px;
}
.location {
	font-size: 16px;
	line-height: 21px;
}
.duration {
	font-size: 16px;
	line-height: 21px;
	color: #696969;
	margin-top: 5px;
}


.activityTitle, .activityLink {
	display: block;
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 24px;
	line-height: 31px;
	color: #FBA24F;
	margin-bottom: 7px;
}
.activityTitle {
	color: #212529;
}
.activityLink:hover {
	text-decoration: none;
	color: #FBA24F;
}

.activityDesc {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 15px;
}

.col2 {
	padding: 0 10px;
	width: 99%;
}

.link {
	display: inline-block;
	padding: 0 20px;
	height: 34px;
	border-radius: 17px;
	background-color: #FBA24F;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	white-space: nowrap;
	color: white;
	text-decoration: none;
}

.time {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #3B3B3B;
	white-space: nowrap;
}

.iconMap {
	display: inline-block;
	background: url(/images/icon-map.svg) no-repeat;
	width: 20px;
	height: 18px;
	vertical-align: middle;
}

.iconClock {
	display: inline-block;
	background: url(/images/icon-clock.svg) no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.iconChevronDownWhite {
	display: inline-block;
	background: url(/images/icon-chevron-down-white.svg) no-repeat;
	width: 20px;
	height: 12px;
	vertical-align: middle;
	cursor: pointer;
}
