.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.section:nth-child(odd) {
  background-color: #f3f3f3;
}

.sectionTitle {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 50px;
}

/*
	MODAL
*/

.modal > div {
  border-radius: 0;
}

.modalHeader {
  border: 0;
  padding: 30px 30px 20px 30px;
}

.modalTitle {
  font-family: "Lifehack Basic", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #af4068;
}

.modalBody {
  padding: 10px 30px 10px 10px;
}

.modalContent {
  border-radius: 0;
  border: 0;
}
