.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.sectionTitle {
	text-transform: uppercase;
	font-family: "DINCondensedBold", sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 43px;
	text-align: center;
	margin-bottom: 20px;	
}

.section:nth-child(odd) {
  background-color: #F3F3F3;
}

.showMoreContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

