.map {
	width: 100%;
	border: none;
}

.contentTitle {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.contentArea {
	margin-top: 50px;
	background-color: #F3F3F3;
	padding: 20px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 992px) {
	.contentArea {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

/*
	SECTION
*/

.section {
	padding: 60px 0;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 60px;
}
