@media (min-width: 768px) {
	.ctaWrapper {
		margin-top: -50px;
		margin-bottom: 60px;
	}
}

.section {
	background-color: #F3F3F3;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media (min-width: 1024px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.bodyTop {
	background-image: url(/images/backgrounds/background-leaf.svg);
	background-position: right;
	background-repeat: no-repeat;
	padding-bottom: 30px;
}
@media (max-width: 768px) {
	.bodyTop {
		background-image: none;
	}
}

.bodyBottom {
	background-image: url(/images/bg-paws@2x.png);
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	background-size: cover;
}