.title {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Catalpa', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.carouselContainer {
  margin-bottom: 15px;
}

.carouselContainer ~ h2 {
  font-weight: 300;
  font-family: 'Catalpa', sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #2B4D20;
  margin-bottom: 0;
}
.carouselContainer ~ p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px
}

@media (min-width: 972px) {
  .carouselContainer {
    width: 50%;
    float: left;
    padding-right: 15px;
    margin-right: 15px;
  }
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}

.zigzagSection {
  background-color: #A8D1CC;
}

.greyText {
  color: #525252;
}

.zigzagSection::before {
  content: "";
  height: 16px;
  display: inline-block;
  position: relative;
  top: -18px;
  width: 100%;
  background: linear-gradient(28.887deg, #A8D1CC 33%, transparent 33%) 0 0,
  linear-gradient(-28.887deg, #A8D1CC 33%, transparent 33%) .5px 0;
  background-size: 58px 16px;
  background-repeat: repeat-x;
  background-position: center;
}

.zigzagSection::after {
  content: "";
  height: 16px;
  display: inline-block;
  position: relative;
  bottom: -22px;
  width: 100%;
  background: linear-gradient(151.113deg, #A8D1CC 33%, transparent 33%) 0 0,
  linear-gradient(-151.113deg, #A8D1CC 33%, transparent 33%) .5px 0;
  background-size: 58px 16px;
  background-repeat: repeat-x;
  background-position: center;
}

:global(.carousel-indicators) {
  display: none;
}

:global(.carousel-control-prev) {
	background: url(/images/icon-carousel-arrow-prev.svg) no-repeat;
	position: absolute;
	z-index: 5000;
	top: 50%;
	left: -50px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

:global(.carousel-control-next) {
	background: url(/images/icon-carousel-arrow-next.svg) no-repeat;
	position: absolute;
	z-index: 5000;
	top: 50%;
	right: -50px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

@media (max-width: 752px) {
  :global(.carousel-control-prev) {
    display: none;
  }
  :global(.carousel-control-next) {
    display: none;
  }
}

.fine-print {
  font-family: 'DINOT';
  font-size: 14px;
  font-style: italic;
}

.dividerDot{
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #FFD10A;
}

.eventDetailLeftBody > p {
  margin-bottom: 0;
}

.zigzagSection a {
  color: #A12D3A;
  font-weight: bold;
  font-family: "DINOTBold";
  margin-bottom: 0;
}

.zigzagSection p:last-of-type {
  margin-bottom: 0;
}

.jazzooSection1 {
  background: linear-gradient( to bottom, #CBE2E4, #fff) !important;
}
.jazzooSection2 {
  background: linear-gradient( to bottom, #fff 0% , #FFF  40%,#FCE785  70% , #E38181 90%,  #E38181 100%) !important;
}

.noBackground {
  background: none !important;
}

