.title {
	font-family: "Lifehack Basic";
	font-weight: "Regular";
	font-size: 60px;
	line-height: 72px;
	color: #AF4068;
}

.subhead {
	font-family: "Lifehack Basic";
	font-weight: "Regular";
	font-size: 36px;
	line-height: 43px;
	color: #222222;
}

.bodyText {
	font-size: 18px;
	text-align: center;
	padding-bottom: 1.5rem;
}

.footerText {
	font-size: 18px;
	margin: 3rem 1rem;
	text-align: center;
}