.searchImageCol {
}
@media (max-width: 768px) {
	.searchImageCol {
		margin-bottom: 15px;
	}
}
.searchBodyCol {
}
@media (max-width: 768px) {
	.searchBodyCol {
		margin-bottom: 20px;
	}
}
.searchLinkCol {
	text-align: right;
}
@media (max-width: 768px) {
	.searchLinkCol {
		text-align: left;
	}
}

.searchResult {
	padding: 30px 0;
}
.searchResult:nth-child(odd) {
  background-color: #F3F3F3;
}
@media (min-width: 768px) {
	.searchResult {
		padding: 40px 0;
	}
}

.searchResultTitle {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 24px;
	line-height: 31px;
	color: #FBA24F;
	cursor: pointer;
}
.searchResultTitle a {
	color: #FBA24F;
}

.contentArea {
	min-height: 400px;
}

/*
	FILTER BAR
*/

.filterBar {
	background-color: #FBA24F;
	color: white;
	margin: 0;
}

.filterBarRight {
	padding-left: 25px;
	border-left: 2px solid rgba(112, 112, 112, 0.25);
}

.navbarNavleft {	
}

.navbarNavRight {
}

@media (max-width: 992px) {
	.navbarNavleft {
		width: 100%;
		margin-bottom: 20px;
	}
	.navbarNavRight {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
}
.filterDate {
	display: flex;
	align-items: center;
}

.filterActivityToggle {
	text-transform: capitalize;
	color: white;
}

.filterActivityToggle::after {
	display: none;
}

.filterActivityToggle:hover {
	color: white;
}

.filterNavItem {
}

@media (min-width: 992px) {
	.navItemBorderRight {
		padding-right: 30px;
		margin-right: 30px;
		border-right: 2px solid rgba(112, 112, 112, 0.25);
	}
}

.filterNavLink {
	color: white;
	height: 80px;
	display: flex;
	padding: 0 30px !important;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.filterNavLinkActive {
	background-color: rgba(0, 0, 0, 0.1);
}

.dropdown {
	color: white;
	background-color: transparent !important;
}

.dropdownItem {
	text-transform: capitalize;
	color: black !important;
}
.dropdownItem:active {
	background-color: transparent;
}

.iconChevronDownWhite {
	display: inline-block;
	background: url(/images/icon-chevron-down-white.svg) no-repeat;
	width: 20px;
	height: 12px;
	vertical-align: middle;
}

