.topAnchor,
.bottomAnchor {
  font-family: "DINOTBold", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

@media (min-width: 992px) {
  .topAnchor {
    margin-top: -30px;
  }
}

.dropdownToggle {
  font-family: "DIN Round OT Bold", sans-serif;
  height: 44px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 22px;
  background-color: white;
  padding: 0 30px;
}

.dropdownMenu {
  padding: 10px 20px;
}

.dropdownMenu a {
  font-family: "DIN Round OT Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdownMenu a + a {
  border-top: 1px solid #707070;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ticketOptionBlockContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .ticketOptionBlockContainer {
    margin-bottom: 50px;
  }
}

.addOnDetailRow {
  text-align: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .ticketOptionBlockSection {
    padding-bottom: 155px;
  }
}
.ticketOptionBlock {
  border-radius: 5px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ticketOptionBlockHeader {
  height: 50px;
  text-align: center;
  padding: 17px 20px 12px 20px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-family: "DINCondensedBold", "DINOT", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

.ticketPricing {
  font-size: 14px;
  font-family: "DINCondensedBold", "DINOT", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.ticketPrices {
  line-height: 52px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
  font-family: 'DINOTMedium', 'DINOT';
}

.ctaDetail {
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 0 50px;
}

.ticketPricesSup {
  font-size: 28px;
}

.ticketOptionBlockBody {
  flex-grow: 1;
  padding: 50px 15px 5px 15px;
}

.ticketOptionBlockFooter {
}

.featuredTitle {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 40px;
}

/*
	MODAL
*/

.modal > div {
  border-radius: 0;
}

.modalHeader {
  border: 0;
  padding: 30px 30px 20px 30px;
}

@media (min-width: 992px) {
  .modalHeader {
    padding-bottom: 70px;
  }
}

.modalTitle {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: #af4068;
  margin-bottom: 20px;
}

.modalBody {
  text-align: center;
  padding: 0 35px 35px 35px;
}

.modalContent {
  border-radius: 0;
  border: 0;
}

.modalButton {
  margin: 70px 0 35px 0;
}

@media (min-width: 576px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section:nth-child(even) {
  background-color: #f3f3f3;
}

.section:nth-child(even).addOn {
  background-color: #fff;
}

.sectionTitle {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .cta {
    margin-top: -60px;
  }
}

.addOnBlockHeading {
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: normal;
}

.addOnBlockSubheading {
  font-size: 24px;
  padding-bottom: 20px;
}
