.top {
	background-image: url(/images/bg-map.jpg);
	background-size: cover;
	height: 100px;
}

.mapSpinnerContainer {
	background-color: #AAA;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	position: relative;
	height: calc( 100vh - 100px);
}

.spinner {
	animation: spin 1s infinite both;
}

@keyframes spin {
	0% {
		transform: none;
	}
	100% {
		transform: rotate(360deg);
	}
}