.eventContainer {
	text-align: center;
	padding: 20px 0;
}

.eventImageContainer {
	margin-bottom: 20px;
}

.eventImage {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}

.eventTitle {
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	margin: 0;
}

.eventTitle a {
	color: #40AF49;
}

.eventTitle a:hover {
	text-decoration: none;
}

.eventDate {
	font-size: 20px;
	line-height: 25px;
}

.eventDate a {
	color: black;	
}

.eventDate a:hover {
	text-decoration: none;
}
