.box {
	background-color: #DDDDDD;
	padding: 30px 40px;
	border-radius: 5px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.box :last-child {
	margin-bottom: 0;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
	font-size: 18px;
	line-height: 26px;
}

.box :first-child {
	margin-top: 0;
}

/*
* + .box {
	margin-top: 50px;
}
*/