.footer {
  display: flex;
  min-height: 279px;
  padding: 76px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/images/glowild/glowild-footer-background.png');
  @media (max-width: 1024px) {
    text-align: center;
  }
  .linkList:first-child {
    margin-bottom: 10px;
  }
  .linkList {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    li {
      a {
        color: #db1c0a;
      }
    }
    li + li {
      margin-top: 10px;
    }
  }
  .socialMedia {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    li + li {
      margin-left: 10px;
    }
    @media (min-width: 1024px) {
    }
  }
}
