.heroImageContainer {
	position: relative;
}

.wholePageEditButton {
	position: absolute;
	bottom: -45px;
	left: 15px;
}

.heroEdit {
	font-size: 16px;
	line-height: 20px;
	color: #40AF49;
}

.hero {
	height: auto;
}

.heroImage {
	width: 100%;
	height: 270px;
	object-fit: cover;
}

.heroHeadline {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 36px;
	line-height: 43px;
	color: #AF4068;
  margin: 0 0 15px 0;
}

.heroDetails {
	text-align: center;
	padding: 30px 0;
	font-size: 18px;
	line-height: 22px;
	background-image: linear-gradient(rgba(255,255,255,0.001), rgba(255, 255, 255, 1.0)), url(/images/backgrounds/background-leaf.svg);
	background-size: 100% auto;
	background-position: top right;
	background-repeat: no-repeat;
}

.heroDescription {
	margin-bottom: 20px;
}

.heroButtonWrapper a {
	margin-top: 12px;
	margin-right: 20px;
}

@media(min-width: 768px) {
	.heroButtonWrapper {
		display: flex;
		flex-wrap: wrap;
	}
}
@media(max-width: 767px) {
	.heroButtonWrapper a {
		margin-right: 0;
	}
}
@media(min-width: 768px) {
	.hero {
		position: relative;
		background: #000;
		color: #fff;
		height: 800px;
	}
	.heroImage {
		height: 800px;
	}
	.heroDetails {
		text-align: left;
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;;
		transform: translate(0, -50%);
		background: none;
  }
	.heroDetailsCopy {
		background: rgba(0, 0, 0, 0.5);
		padding: 35px 55px;
	}
	.heroHeadline {
		font-size: 72px;
		line-height: 87px;
		color: white;
		margin: 0 0 15px 0;
	}
}
