.campIcons {
  list-style: none;
  display: flex;
  padding: 0;
  font-family: "DINOTBold", sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.campIcons li {
  display: flex;
  align-items: center;
}
.campIcons li + li {
  margin-left: 15px;
}
.campIconsIcon {
  margin-right: 10px;
}
.campImageWrapper {
  height: 100%;
  margin-bottom: 20px;
}

.campImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.campTitle {
  font-family: "Lifehack Sans", sans-serif;
  color: white;
  background-color: black;
  font-size: 30px !important;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 17px 20px 13px 20px;
  border-radius: 5px;
}

.campDescText {
  color: #222;
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .campImage {
    border-radius: 5px 5px 0 0;
  }
  .campTitle {
    border-radius: 0 0 5px 5px;
  }
}

.campDesc {
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .campImageWrapper {
    margin-bottom: 0;
  }

  .campBody {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .campDesc {
    flex-grow: 2;
  }
}
