.container {
  h1 {
    color: #2b4d20 !important;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Catalpa", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
  }

  :global .offset-md-1.col-md-7 p {
    margin-left: 2.5em;
    text-indent: -2.5em;
  }
}

.jazzoo2022BottomPadding {
  padding-bottom: 220px;
}
