.background {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 130, 181, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
  overflow: hidden;
}

.contentWrapper {
  margin-top: 22em;
  min-height: 500px;
}

.title {
  font-family: "Lifehack Basic";
  font-weight: "Regular";
  line-height: 50px;
  font-size: 150px;
  letter-spacing: -2;
  color: white;
}

.subhead {
  font-family: "Lifehack Sans";
  font-weight: "Regular";
  line-height: 50px;
  font-size: 33px;
  letter-spacing: 5;
  color: white;
  margin-top: 0.5em;
}

.message {
  display: inline-block;
  text-align: center;
  height: auto;
  max-width: 300px;
}

.message > p > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #40af49;
}

.moveIcon > a > span {
  flex-direction: row-reverse;
}

.moveIcon > a > span > img {
  margin-left: 0 !important;
  margin-right: 0.5em;
}

.leftJungle {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.rightWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 446.092;
  height: 591.288;
  overflow-x: hidden;
  overflow-y: hidden;
}

.rightJungle {
  position: relative;
  bottom: -1em;
  z-index: -1;
}

.bottomWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 194px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}

.bottomJungle {
  position: absolute;
  bottom: 0;
  right: 18em;
}

.bottomJungle2 {
  position: absolute;
  bottom: 0;
  right: 28em;
}

.bottomJungle3 {
  position: absolute;
  bottom: 0;
  right: 2em;
}

.bottomJungle4 {
  position: absolute;
  bottom: 0;
  right: 48em;
}

.fern {
  position: absolute;
  bottom: 0em;
  right: 24em;
  z-index: -1;
}

.fern2 {
  position: absolute;
  bottom: -1em;
  left: 20em;
  z-index: -1;
}

.fly {
  position: relative;
  top: 18em;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #000;
  box-shadow: 1px 1px 4 #2d2d2d;
}

@media (max-width: 1290px) {
  .fern {
    right: 22em;
  }
  .fern2 {
    left: 18em;
  }
}

@media (max-width: 1250px) {
  .leftJungle {
    left: -4em;
  }
  .rightJungle {
    right: -5em;
  }
  .fern {
    right: 18em;
  }
  .fern2 {
    left: 16em;
  }
}

@media (max-width: 1200px) {
  .leftJungle {
    left: -6em;
  }
  .rightJungle {
    right: -7em;
  }
  .fern {
    right: 16em;
  }
  .fern2 {
    left: 14em;
  }
}

@media (max-width: 1110px) {
  .leftJungle {
    left: -8em;
  }
  .rightJungle {
    right: -9em;
  }
  .fern2 {
    left: 12em;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 123px;
  }
  .leftJungle {
    left: -10em;
  }
  .rightJungle {
    right: -11em;
  }
  .fern {
    right: 12em;
  }
  .fern2 {
    left: 9em;
    bottom: -2em;
  }
}

@media (max-width: 900px) {
  .leftJungle {
    left: -12em;
    overflow-x: hidden;
  }
  .rightJungle {
    right: -13em;
  }
  .fern {
    right: 10em;
  }
  .fern2 {
    bottom: -3em;
  }
}

@media (max-width: 840px) {
  .leftJungle {
    left: -14em;
  }
  .rightJungle {
    right: -15em;
  }
  .fern {
    right: 8em;
  }
  .fern2 {
    left: 6em;
  }
}

@media (max-width: 796px) {
  .leftJungle {
    left: -16em;
  }
  .rightJungle {
    right: -18em;
    bottom: -1em;
  }
  .contentWrapper {
    margin-top: 18em;
  }
  .fern {
    right: 5em;
  }
  .fern2 {
    left: 4em;
  }
  .bottomJungle3 {
    right: 0;
  }
  .sketchDivider {
    width: 260px;
  }
}

@media (max-width: 600px) {
  .leftJungle {
    left: -18em;
  }
  .fern {
    right: 3.5em;
    bottom: -4px;
  }
  .bottomWrapper {
    bottom: -2px;
  }
}

@media (max-width: 532px) {
  .contentWrapper {
    margin-top: 14em;
    min-height: 600px;
  }
  .leftJungle {
    left: -18em;
    bottom: -4em;
  }
  .rightJungle {
    width: 90%;
    right: -16em;
    bottom: -7em;
  }
  .fern {
    right: 4em;
  }
}

@media (max-width: 415px) {
  .fern2 {
    display: none;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .bottomWrapper {
      bottom: -1px;
    }

    @media (max-width: 532px) {
      .title {
        font-size: 100px;
      }
      .contentWrapper {
        margin-top: 13em;
        min-height: 600px;
      }
      .leftJungle {
        left: -20em;
        bottom: -6em;
      }
      .rightJungle {
        right: -12em;
        bottom: -8em;
      }
      .fern {
        right: 2em;
      }
    }
  }
}
