// RUSTLING FERNS ANIMATION

.fern {
  animation: shake 2.72s ease infinite;
  transform-origin: 50% 50%;
}

.fern2 {
  animation: shake 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

// BUZZING FLY ANIMATION

.fly {
  position: relative;
  transform-origin: 200% center;
  top: 30em;
  width: 6px;
  height: 6px;
  animation: rotate 5s linear infinite;
}
.fly:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotate 5s linear reverse infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.flyBuzz {
  position: relative;
  z-index: 1000000000;
  animation-name: buzz;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes buzz {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(1920px, 0);
  }
}

// INACTIVE ANIMATIONS

// @keyframes breathe {
//   0% {
//     transform: translate(3px, -3px) rotate(1deg);
//   }
//   50% {
//     transform: translate(-1px, 2px) rotate(-1deg);
//   }
//   100% {
//     transform: translate(-1px, -1px) rotate(1deg);
//   }
// }

// @keyframes twirl {
//   0% {
//     transform: translate(0, 0);
//   }
//   20% {
//     transform: translate(400px, 0);
//   }
//   40% {
//     transform: translate(420px, -60px);
//   }
//   50% {
//     transform: translate(410px, -30px);
//   }
//   60% {
//     transform: translate(400px, 30px);
//   }
//   100% {
//     transform: translate(1920px, 0);
//   }
// }
