.c-forms-form-title {
  display: block !important;
  font-size: 30px;
}

input,
select {
  height: 40px;
  text-indent: 20px;
  font-size: 18px;
  color: #757575;
}
input,
select,
textarea {
  border: 1px solid #ccc;
}

.cog-label {
  font-size: 18px !important;
  margin-bottom: 3px !important;
}

.cognito {
  font-family: "DINOT", sans-serif;
}

img {
  max-width: 100%;
}

.c-section,
.c-payment-section,
.cog-section__inner {
  background-color: #eeeeee;
  padding: 35px !important;
  border-radius: 5px !important;
  margin-top: 100px !important;
}

.cog-repeating-section__section > .cog-section__inner {
  margin-top: 20px !important;
}
.cog-payment .cog-section__inner {
  margin-top: 20px !important;
}

.cog-payment__field .cog-input {
  background-color: #fff !important;
  color: #000 !important;
}

/* @media (max-width: 576px) {
	.c-section,.c-payment-section,.cog-section__inner  {
		padding: 20px!important;
		margin-top: 20px!important;
	}
} */

.c-forms-payment-label {
  margin-left: 35px !important;
  margin-top: 140px !important;
}

.c-background-highlight {
  background-color: #eeeeee;
}

.c-repeating-section-container {
  background-color: transparent !important;
}

.c-choice-fillin {
  margin-top: -5px !important;
}

.cog-section__heading {
  position: absolute !important;
  transform: translate(-35px, -75px);
  text-transform: uppercase !important;
  font-family: DINOTBold, sans-serif !important;
}
/* @media (max-width: 576px) {
	.cog-section__heading {
		position: relative;
		transform: translate( 0, 0 );
		margin-bottom: 25px !important;
	}
} */

.cog-header__text > h1 {
  font-family: "Lifehack Basic", sans-serif !important;
  color: #af4068 !important;
  font-size: 60px !important;
  line-height: 72px !important;
}

/* @media (max-width: 576px) {
	.cog-heading {
		padding: 0 !important;
	}
} */

h2 {
  font-size: 20px;
}
.el-checkbox__input,
.el-checkbox,
.el-radio,
.el-radio__input {
  display: flex !important;
  align-items: center !important;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 7px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: right center;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-color: #fff;
}

.cog-button {
  height: 44px;
  padding: 0 30px;
  border-radius: 22px;
  background-color: #40af49;
  font-family: "DIN Round OT Bold", "DINOTBold", sans-serif;
  font-size: 20px;
  color: #fff !important;
  border: none;
}

.cog-page__navigation {
  margin-bottom: 45px;
}

.c-non-submit-button {
  height: 44px;
  padding: 0 30px;
  border-radius: 22px;
  color: #40af49;
  background-color: #fff;
  font-family: "DIN Round OT Bold", "DINOTBold", sans-serif;
  font-size: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
}

.cog-button:hover {
  background-color: #40af49;
}

@media (max-width: 576px) {
  .cog-page__navigation {
    margin-bottom: 20px;
  }
}
