.btnGroup {
  width: 100%;
  margin-top: 20px;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fdc843;
  border-radius: 5px;
  align-items: center;
}

.btn {
  font-family: "Lifehack Sans", sans-serif;
  font-size: 21px;
  line-height: 25px;
  height: 24px;
  padding: 0;
  color: white;
}

.btn + .btn {
  border-left: 1px solid white;
}

@media (min-width: 1200px) {
  .btnGroup {
    display: none;
  }
}

.navLinkButton {
  border: 2px solid #40af49;
  padding: 4px 20px;
  border-radius: 15px;
}
.navLinkButton:hover {
  background-color: #40af49;
  color: white;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .navLinkButton {
    border: 2px solid rgb(251, 162, 79);
  }
  .navLinkButton:hover {
    background-color: rgb(251, 162, 79);
  }
}

.navbarToggler {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.togglerIcon {
  background: url(/images/icons/close.svg) no-repeat;
  filter: invert(47%) sepia(8%) saturate(3283%) hue-rotate(74deg)
    brightness(121%) contrast(90%);
  height: 18px;
  width: 18px;
  display: block;
}

.navbarToggler:global(.collapsed) {
  background-color: #40af49;
}

.navbarToggler:global(.collapsed) .togglerIcon {
  background: url(/images/icon-hamburger.svg) no-repeat;
  filter: none;
  height: 21px;
  width: 25px;
}

.eventImageWrapper {
  margin-bottom: 15px;
}
.eventImage {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/*
	SEARCH FORM
*/

.searchForm {
}

.searchInputGroup {
  background-color: #222222;
}

.searchIcon {
  background-color: transparent;
  border-color: transparent;
  color: white;
  border-radius: 0;
}

.searchInput::placeholder {
  color: white;
}

.searchInput,
.searchInput:active,
.searchInput:focus {
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-indent: 0;
  padding-left: 0;
  border-radius: 0;
  box-shadow: none;
}

.navbarCollapseSearch {
  display: none;
  margin-top: 20px;
}

.navbarCollapseSearchInputGroup {
  background-color: rgba(41, 111, 46, 0.75);
  height: 44px;
  border-radius: 22px;
  align-items: center;
}

.searchInputCollapse::placeholder {
  color: white;
}

.searchInputCollapse,
.searchInputCollapse:active,
.searchInputCollapse:focus {
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-indent: 0;
  padding-left: 20px;
  border-radius: 0;
  box-shadow: none;
}

/*
	ACTIVITIES TABLE
*/

.activitiesTable td {
  border-top-color: #296f2e;
  vertical-align: baseline;
}
.activitiesTable tr:first-child td {
  border-top: none;
}
.activitiesTable tr td:nth-child(1) {
  font-family: "DINCondensedBold";
}
.activitiesTable tr td:nth-child(2) {
  font-family: "DINOTBold";
}

/*
	NAV BAR
*/

.kczooNavbar {
  background-color: rgba(34, 34, 34, 0.8);
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); */
  font-family: "DIN Round OT";
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: flex-start;
}

.kczooNavbar .dropdownMenu a,
.kczooNavbar .dropdownMenu table {
  color: white;
}

.navPrimaryItem {
  margin-bottom: 0;
}

.dropdownItem {
  font-family: "DIN Round OT Bold";
  font-size: 16px;
  line-height: 21px;
  color: white;
  padding: 5px 10px;
  white-space: normal;
}
.dropdownItem:hover {
  background-color: #fba24f !important;
}
.dropdownItemSec {
  white-space: nowrap;
}

.kczooNavbarFooter {
  text-align: center;
  margin: 15px 20px;
  color: white;
  font-size: 12px;
  line-height: 15px;
}

@media (min-width: 1200px) {
  .kczooNavbar {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1200px) {
  .navPrimaryItem,
  .navSecondaryItem {
    margin-left: 1px;
    margin-right: 1px;
  }

  .navPrimaryItem:hover,
  .navSecondaryItem:hover {
    background-color: rgb(251, 162, 79);
    border-radius: 5px;
  }

  .dropdownItem:focus,
  .dropdownItem:hover {
    color: white;
    background-color: #40af49;
  }

  .navPrimary {
    margin-left: 0;
    margin-bottom: -5px;
  }

  .dropdownMenuPrimary {
    width: 600px;
  }

  .kczooNavbarFooter {
    display: none;
  }
}

/* .aquariumCard {
  color: #fff !important;
  background-color: #3bbc8e !important;
  height: 30px !important;
  font-family: "DINOTBold" !important;
  font-size: 12px !important;
  margin-right: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aquariumCard > svg {
  margin-left: 10px;
  transition-duration: 0.2s;
}
.aquariumCard:hover > svg {
  transform: translateX(7px);
  transition-duration: 0.2s;
} */

.aquariumBar {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 35px;
  color: #fff;
  background-color: #0082b5;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.aquariumBar:hover {
  text-decoration: none;
  color: #fff;
}

.aquariumBar span:nth-child(2) {
  font-family: "Lifehack Basic", sans-serif;
  margin-left: 10px;
  margin-right: 5px;
}

.aquariumBar span:nth-child(3),
.aquariumBar span:last-of-type {
  font-family: "DINOT", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 5px 2px 5px;
}

.aquariumBar > svg {
  margin-left: 5px;
  transition-duration: 0.2s;
}
.aquariumBar:hover > svg {
  transform: translateX(7px);
  transition-duration: 0.2s;
}

@media (max-width: 1199px) {
  .kczooNavbar {
    padding-left: 0;
    padding-right: 0;
  }
  .navPrimary {
    margin-left: 0;
  }
  .navLinkPrimary {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .kczooBrand {
    margin-left: 20px;
  }
  .aquariumCard {
    margin-left: 20px;
  }
  .navbarToggler {
    margin-right: 20px;
  }
  .navbarCollapseSearch {
    display: block;
  }
}

.kczooBrand {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
  height: 110px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kczooLogo {
  max-width: 144px;
  width: auto;
}

@media (max-width: 1024px) {
  /*
	.kczooBrand {
		padding: 0 10px;
		height: 100px;
	}
	*/
  .kczooLogo {
    max-width: 104px;
    width: auto;
  }
}

.navLink {
  color: white;
  /*margin: 0 0.5em;*/
}
.navLink::after {
  display: none;
}

.navUtilityItem {
  /* height: 38px; */
  align-items: center;
  line-height: 1;
}

.navUtilityItem,
.navSecondaryItem {
  margin-bottom: 0;
}

.kczooNavbar .nav-item.dropdown.show .navLink {
  color: white;
}

.navLinkPrimary {
  display: block;
  font-family: "Lifehack Sans", sans-serif;
  font-size: 26px;
  line-height: 26px;
  padding: 6px 0 2px 0;
  text-transform: uppercase;
}

.navPrimaryItem > a {
  background: url(/images/icon-chevron-right.svg) right center no-repeat;
  background-size: 20px 20px;
}

.navPrimaryItem:global(.show) > a {
  background: url(/images/icon-chevron-down.svg) right center no-repeat;
  background-size: 20px 20px;
  border: none;
  margin-bottom: 0;
}

.navSecondaryItem:global(.show) > a {
  border: none;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .navLink {
    margin: 0 0.5em;
  }

  .navbarRight {
    display: flex;
    flex-direction: column;
  }

  .navPrimaryItem > a {
    background: none;
  }

  .navPrimaryItem:global(.show) > a {
    background: none;
  }

  .navSecondary {
    margin-top: 6px;
    position: relative;
    bottom: -6px;
  }

  .kczooNavbar .nav-item.dropdown.show .navLink {
    background-color: #40af49;
    border-radius: 5px;
  }
}

@media (max-width: 1200px) {
  .navLinkPrimary,
  .navLinkSecondary {
    display: block;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #296f2e;
  }
  .navLinkPrimary:hover,
  .navLinkSecondary:hover {
    text-decoration: none;
    color: white;
  }
  .aquariumBar {
    height: 60px;
    padding-top: 5px;
  }
}

@media (max-width: 1100px) {
  .navLink {
    margin: 0 0.4em;
    font-size: 25px;
  }

  .navLink.navLinkSecondary {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .aquariumBar span:nth-child(3),
  .aquariumBar span:last-of-type {
    display: none;
  }
}

.navSecondary {
  margin-left: 0;
}

.navLinkUtility {
  font-size: 14px;
  line-height: 20px;
}

.navLinkSecondary {
  font-family: "DIN Round OT Bold";
  font-size: 12px;
  line-height: 20px;
  display: block;
  padding: 3px 0 3px 0;
}

.navbarCollapseHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbarCollapseClose {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
}

@media (max-width: 1200px) {
  .kczooNavbarOpen {
    background: url(/images/bkg-palms@2x.png) #40af49 no-repeat;
    height: auto;
  }

  .navUtility {
    display: none;
  }

  .navUtilityItem {
    margin-bottom: 15px;
  }

  .navbarCollapse {
    padding: 0 20px;
    overflow-y: auto;
    max-height: 550px;
  }

  .navPrimary {
    margin-top: 15px;
  }

  .navSecondary {
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .navbarCollapse {
    height: 100%;
    align-items: center;
  }
  .navUtility {
    align-items: center;
  }
}

/*
	DROPDOWN MENU
*/

.dropdownMenu {
  font-family: "DIN Round OT";
  background-color: rgba(41, 111, 46, 0.25);
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.dropdownMenuAside {
  /*border-radius: 0 0 0 10px;*/
  min-width: 170px;
  min-height: 190px;
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 10px;
}

.dropdownMenuAsideInner {
  width: 100%;
  text-align: center;
}

.dropdownMenuAsideVisit {
  background: url(/images/bkg-nav-visit@2x.png) no-repeat;
  background-size: cover;
}

.dropdownMenuAsideAnimals {
  background-size: cover;
}

.dropdownMenuAsideCamps {
  background-size: cover;
}

.dropdownMenuAsideRent {
  background-size: cover;
}

.dropdownMenuContent {
  margin: 10px 0 5px 0;
}
.dropdownMenuContentTight {
  margin: 10px 0 5px 0;
}
.dropdownMenuContentSec {
  margin: 10px 0 5px 0;
}
.dropdownMenuHeading {
  font-family: "Lifehack Basic", sans-serif;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #296f2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .dropdownMenu {
    color: white;
    background: url(/images/bkg-palms@2x.png) #40af49 no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
  }
  .dropdownMenuBody {
    display: flex;
  }
  .dropdownMenuAside {
    flex-grow: 0;
    max-width: 170px;
    display: block;
    background-color: rgba(41, 111, 46, 0.25);
  }
  .dropdownMenuAsideAlignBottom {
    display: flex;
    align-items: flex-end;
  }
  .dropdownMenuContent {
    padding: 25px;
    margin-bottom: 0;
    flex-grow: 1;
  }
  .dropdownMenuContentTight {
    padding: 25px;
    margin: 0;
    flex-grow: 1;
  }
  .dropdownMenuContentSec {
    padding: 15px;
    margin: 0;
    flex-grow: 1;
  }
}
