.bodyText {
	font-size: 1.2rem;
	line-height: 1.7rem;
}

.bodyText h2 {
	font-size: 1.8rem;
	margin-bottom: 35px;
}

.bodyText h3 {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.bodyText p {
	margin-bottom: 25px;
}
