.carouselPrev {
	background: url(/images/icon-carousel-arrow-prev.svg) no-repeat;
	position: absolute;
	z-index: 50;
	top: 50%;
	left: 16px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.carouselNext {
	background: url(/images/icon-carousel-arrow-next.svg) no-repeat;
	position: absolute;
	z-index: 50;
	top: 50%;
	right: 16px;
	display: block;
	width: 30px;
	height: 48px;
	padding: 0;
	border: none;
	text-indent: -999px;
	overflow: hidden;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.carouselContainer :global .slick-dots {
    bottom: 16px !important;
}

.carouselContainer :global .slick-dots li {
	margin: 0 7px !important;
    height: 14px;
    width: 14px;
}

.carouselContainer :global .slick-dots li button {
	background-color: #DDDDDD !important;
	border-radius: 7px;
    height: 14px;
    width: 14px;
}

.carouselContainer :global .slick-dots li button::before {
	display: none;
}

.carouselContainer :global .slick-dots li.slick-active button {
	background-color: #FDC843 !important;
}