@media (min-width: 1024px) {
  .fringe {
    position: relative;
  }
  .left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: url("https://images.prismic.io/kansascityzoo/6ae68a09-d7fe-48ba-a197-a25d69e9d81b_Repeat+Grid+62.png?auto=compress,format");
    background-repeat: repeat-y;
    background-size: 55px auto;
    width: 55px;
    height: 100%;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-image: url("https://images.prismic.io/kansascityzoo/ba108939-bb60-461d-b7c6-8b9b5d635261_Repeat+Grid+62+right.png?auto=compress,format");
    background-repeat: repeat-y;
    background-size: 55px auto;
    width: 55px;
    height: 100%;
  }
}
/* @media (max-width: 1400px) {
  .left {
    background-position-x: -50px;
  }
  .right {
    background-position-x: 50px;
  }
} */
