@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 61.8vh;
  max-height: 400px; */
  min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-image: none;
  animation: fadeIn .6s;
}

.heroContainer {
  background-color: #ccc;
}

.wholePageEditButton {
  transform: translate(15px, 45px);
}

.heroTitle {
  margin: 160px 30px 75px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 120px;
  line-height: 1.2;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  font-family: "Lifehack Sans", sans-serif;
  text-align: center;
}

@media screen and (max-width: 575px) {

  .heroTitle {
    font-size: 80px;
    margin-bottom: 50px;
  }

}