.hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 600px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.wholePageEditButton {
  transform: translate(15px, 45px);
}

@media(max-width: 991px){
  .wholePageEditButton {
    transform: translate(15px, -105px);
  }
}