/*
	CALENDAR
*/

.calendarInline {
	display: flex;
	align-items: center;
}

.calendar {
	margin-right: 15px;
	background-color: white;
	width: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.calendarDay {
	font-family: 'DINOTBold', sans-serif;
	color: #3B3B3B;
	font-size: 32px;
	line-height: 41px;
	text-align: center;
}

.calendarMonth {
	font-family: 'DINOTBold', sans-serif;
	background-color: #FBA24F;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 21px;
	color: white;
}

/*
	TABLE
*/

.tableWrapper {
	background-color: #EEEEEE;
	padding: 55px 0;
}

.table thead th {
	font-weight: bold !important;
	border: none;
}

.table tbody tr:nth-of-type(odd) {
	background-color: white;
}
.table tbody tr td:nth-child(1) {
	width: 1%;
}
.table tbody tr td:nth-child(2) {
	width: 1%;
}
.table tbody tr td:nth-child(3) {
	width: 99%;
}

.table tbody tr td:nth-child(4) {
	width: 1%;
}

.table td {
	vertical-align: middle;
	white-space: nowrap;
}
