.kczooBreadcrumbs {
  font-family: "DIN Round OT", sans-serif;
  color: white;
  background-color: #005475;
  padding: 25px 0;
  line-height: 20px;
  vertical-align: middle;
}
.kczooBreadcrumbs a {
  color: white;
  font-family: "DIN Round OT Bold", sans-serif;
}
.kczooBreadcrumbs a:hover {
  text-decoration: none;
}
.kczooBreadcrumbs a img {
  margin-top: -4px;
}

.kczooFooter {
  min-height: 300px;
  padding: 60px 0;
  color: white;
  background: linear-gradient(
      90deg,
      rgba(0, 130, 181, 1) 0%,
      rgba(0, 130, 181, 0) 100%
    ),
    url(/images/bkg-footer@2x.jpg) no-repeat;
  background-size: cover;
}
.kczooFooter a {
  color: white;
}

.mainRow {
  justify-content: space-between;
}

.footerNavWrapper {
  font-family: "Lifehack Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.associationsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.associationsWrapper > div {
  margin-right: 1.5em;
}

.footerCopyright {
  font-family: "DIN Round OT";
  font-size: 12px;
  line-height: 15px;
}

.copyrightWrapperMobile {
  display: none;
}

.divider {
  display: none;
}

.footerContact {
  font-size: 12px;
}
.footerContact h6 {
  font-family: "DIN Round OT Bold", sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
}

.footerSocial {
  font-size: 12px;
}
.footerSocial:nth-child(1) {
  margin-top: 0 !important;
}

@media (max-width: 992px) {
  .kczooFooter {
    min-height: none;
    padding: 30px 0;
  }

  .centerImg {
    text-align: center;
    margin-bottom: 2em;
  }

  .moveLinks {
    flex-direction: column;
  }

  .moveLinks > div > img {
    width: 150px;
  }

  .footerNavWrapper {
    align-items: center;
    justify-content: space-around;
  }

  .navSpacing {
    margin-right: 0 !important;
	margin-left: 0 !important;
  }

  .associationsWrapper {
    justify-content: space-around;
  }

  .associationsWrapper > div {
    margin-right: 0;
  }

  .footerCopyright {
    text-align: center;
  }

  .copyrightWrapper {
    display: none;
  }

  .copyrightWrapperMobile {
    display: block;
    margin-top: 2em;
  }

  .footerContact {
    text-align: center;
  }

  .divider {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-bottom: none;
    width: 100%;
  }

  .footerSocial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footerSocial:nth-child(1) {
    margin-top: 1.5em !important;
  }
}
