.thermometerImage {
  background-image: url(/images/thermometer@2x.jpg);
  height: 450px;
  position: relative;
  width: 170px;
  background-size: 170px 450px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}

h3 {
  font-family: 'Lifehack Basic'
}

:root {
  --fillDuration: 3s;
}
.thermometerColor {
  position: absolute;
  border-top: 5px solid #69d5ff;
  width: 170px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 450px;
  background-position-y: bottom;
  background-size: 170px 450px;
  background-image: url(/images/thermometer_colored@2x.jpg);
  transition: all var(--fillDuration) cubic-bezier(0.56, 0.21, 0.2, 1.5);
  max-height: 0;
}

.thermometerArrow {
  --side-size: 10px;
  border-right: var(--side-size) solid transparent;
  border-bottom: var(--side-size) solid transparent;
  border-left: calc(2 * var(--side-size) * 0.866) solid #69d5ff;
  border-top: var(--side-size) solid transparent;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: -30px;
}

.thermometerScale {
  --lineColor: #005475;
  position: absolute;
  width: 20px;
  bottom: 0;
  left: -40px;
  height: 450px;
  background: linear-gradient(
    to top,
    var(--lineColor) 0.4%,
    transparent 0.4%,
    transparent 14.09%,
    var(--lineColor) 14.09%,
    var(--lineColor) 14.49%,
    transparent 14.49%,
    transparent 28.37%,
    var(--lineColor) 28.37%,
    var(--lineColor) 28.77%,
    transparent 28.77%,
    transparent 42.66%,
    var(--lineColor) 42.66%,
    var(--lineColor) 43.06%,
    transparent 43.06%,
    transparent 56.94%,
    var(--lineColor) 56.94%,
    var(--lineColor) 57.34%,
    transparent 57.34%,
    transparent 71.23%,
    var(--lineColor) 71.23%,
    var(--lineColor) 71.63%,
    transparent 71.63%,
    transparent 85.51%,
    var(--lineColor) 85.51%,
    var(--lineColor) 85.91%,
    transparent 85.91%,
    transparent 99.6%,
    var(--lineColor) 99.6%
  );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.donationRow {
  justify-content: center;
}

.amountRaised {
  position: absolute;
  right: calc(100% + 40px);
  top: -35px;
  text-align: center;
  color: #525252;
  opacity: 0;
  animation: fadeIn 0.5s 5s both;
}

.thermometerGoal {
  color: #fff;
  position: absolute;
  top: 14px;
  font-family: "DINOTBold", Arial, Helvetica, sans-serif;
  text-align: center;
  right: 0;
  z-index: 1;
  font-size: 20px;
  line-height: 20px;
  width: 170px;
}

@media (max-width: 752px) {
  .thermometerContainer {
    margin-top: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 374.5px) {
  .thermometerContainer {
    margin-top: 30px;
    margin-right: 0;
  }
}