.mapKeyContainer {
  display: flex;
  margin: 15px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fba24f;
  border-radius: 5px;
  font-family: "DINOTBold", Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.mapKeyHead {
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 7px;
  display: flex;
  font-size: 18px;
  text-align: center;
  font-family: "Lifehack Sans";
  letter-spacing: 1.2px;
  justify-content: center;
  padding: 7px;
  align-items: center;
}

.mapKeyBody {
  display: flex;
  flex: 1;
  font-size: 14px;
}

.mapKeyBody p {
  display: inline-flex;
  margin: 0 15px;
  float: left;
  cursor: pointer;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.mapKeyBody p:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.mapKeyBody span {
  background-color: #fff;
  color: #fba24f;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 10px;
}

.mapKeyBody {
  display: flex;
  flex-direction: column;
}
@media (min-width: 972px) {
  .mapKeyContainer {
    display: none;
  }
}

.title {
  margin-bottom: 15px;
}

.constructionCamWindow {
  background-color: red;
  height:400px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}