.title {
  text-align: center;
}

p {
  strong {
    font-size: 20px;
  }
}

.subhead {
  font-size: 18px;
  margin-bottom: 1.5em;
}

.section {
  padding: 1em 0;
}

.section:last-child {
  margin-bottom: 2em;
}

.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(34, 34, 34);
    width: 50%;
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(34, 34, 34);
    width: 50%;
  }
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 74px;
  min-width: 74px;
  border-radius: 50%;
  background-color: rgb(251, 185, 16);
  margin: 0 25px;
}

.separatorTitle {
  position: absolute;
  top: 100%;
  width: 100%;
  font-family: "DINOT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal !important;
  margin: 8px 0 0 0;
  text-align: center;
  white-space: nowrap;
}

.separatorCenter {
  position: relative;
}

.twoCol {
  column-count: 2;
  column-width: 50%;
}

.tierOne {
  padding: 0.5em 0;
  text-align: center;
  font-family: "DINOT", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: normal !important;
}

.columns {
  column-count: 3;
  column-width: 33%;

  &.two {
    column-count: 2;
    column-width: 50%;
  }
}

.linkWrapper {
  padding: 0.75em 0;
  font-size: 18px;
  line-height: 24px;
  max-width: 250px;
  margin: auto;
  page-break-inside: avoid;
}

@media (max-width: 992px) {
  .columns {
    column-count: 2;
    column-width: 50%;
  }

  .linkWrapper {
    max-width: 230px;
  }
}

@media (max-width: 768px) {
  .columns {
    column-count: 1;
    column-width: 100%;

    &.two {
      column-count: 1;
      column-width: 100%;
    }
  }

  .twoCol {
    column-gap: 1em;
  }

  .linkWrapper {
    display: block;
    max-width: none;
  }
}

@media (max-width: 415px) {
  .tierOne {
    font-size: 24px;
  }

  .twoCol {
    column-count: 1;
    column-gap: 0;
  }
}
