:root {
  --subAreaModalHeight: 540px;
}

.subAreaImage {
  height: var(--subAreaModalHeight);
  background-size: cover;
  transition-duration: 0.25s;
  background-position: center;
}

.modalBody {
  padding: 0;
}

:global(.modal-dialog) {
  border-radius: 15px;
  overflow: hidden;
}

.modalContainer {
  padding: 0;
  background-color: #fff;
}

.areaLabel {
  background-color: var(--popupColor);
  position: absolute;
  top: 0;
  padding: 10px 30px;
  color: #fff;
  border-bottom-right-radius: 10px;
}

.subAreaNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  padding: 15px 24px;
}

.subAreaPrevious,
.subAreaNext {
  cursor: pointer;
}
.subAreaDot {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-color: #696969;
  border-radius: 7px;
  margin: 0 10px;
  transition-duration: 0.2s;
}

.subAreaDotActive {
  background-color: #3fba8e;
  transition-duration: 0.4s;
}

.subAreaTextCol {
  max-height: 435px;
  padding: 45px 45px 45px 30px;
  transition-duration: 0.25s;
}

.subAreaTextCol h4 {
  color: rgb(175, 64, 104);
  margin-bottom: 0;
}

.subAreaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subAreaHeaderWaterClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subAreaDescription {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow-y: auto;
}

.namingRightsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fba24f;
  color: #fff;
  width: 100%;
  padding: 25px;
}

.namingRightsContainer h5 {
  font-size: 21px;
  font-family: "DINCondensedBold", "DINOTBold", Arial, Helvetica, sans-serif;
}

.namingRightsContainer p {
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .subAreaImage {
    height: 300px;
  }
  .subAreaTextCol {
    height: 100%;
    padding: 15px 45px 45px 45px;
  }

  .subAreaHeader {
    display: flex;
    flex-direction: column-reverse;
    justify-content: between;
    align-items: center;
  }
  .subAreaHeaderWaterClose {
    width: 100%;
    margin-bottom: 25px;
  }

  .namingRightsContainer {
    flex-direction: column;
  }
  .namingRightsContainer p {
    padding-right: 0px;
    margin-bottom: 25px;
  }
}
