:root {
  --textColor: #fff;
  --popupColor: #fba24f;
  --popupColorTranslucent: #3fba8f69;
}

@keyframes loadyBloop {
  0% {
    fill: rgba(0, 0, 0, 0);
  }
  50% {
    fill: var(--popupColorTranslucent);
  }
  100% {
    fill: rgba(0, 0, 0, 0);
  }
}

.st0 {
  fill: none;
}
.st0 {
  display: inline;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4))
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}
#Layer_2 {
  filter: drop-shadow(18px 18px 25px rgba(0, 0, 0, 0.4))
    drop-shadow(16px 19px 6px rgba(0, 0, 0, 0.2));
}
.st0 {
  fill: #fba24f;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  font-family: "DINOTBold", Arial, Helvetica, sans-serif;
}
.st3 {
  font-size: 72.6213px;
}
.st4 {
  font-size: 142.915px;
}
.st5 {
  fill: transparent;
}
.aquast6 {
  fill: #f7f7f7;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4))
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}
.st7 {
  fill: #af4068;
}
.st8 {
  font-size: 58.097px;
}
.st9 {
  fill: #222222;
}
.st10 {
  font-family: "Helvetica";
}
.st11 {
  font-size: 50.8349px;
}
.st12 {
  clip-path: url(#Area_Image_6_);
}
.st13 {
  font-size: 58.3473px;
}
.st14 {
  font-size: 51.0539px;
}
.st15 {
  clip-path: url(#Area_Image_7_);
}
.st16 {
  font-size: 72.9342px;
}
.st17 {
  font-size: 138.7153px;
}
.st18 {
  clip-path: url(#Area_Image_8_);
}
.st19 {
  font-size: 142.6366px;
}
.st20 {
  clip-path: url(#Area_Image_9_);
}
.st21 {
  font-size: 143.333px;
}
.st23 {
  display: inline;
}
.st24 {
  display: inline;
  clip-path: url(#Area_Image_10_);
}
.st25 {
  font-size: 143.5744px;
}
.st26 {
  clip-path: url(#Area_Image_11_);
}
.st27 {
  font-size: 143.1844px;
}
.st28 {
  font-size: 50.7747px;
}
.st29 {
  font-size: 72.5352px;
}
.aqst30 {
  opacity: 0.25;
  fill: #3b3b3b;
  enable-background: new;
}
.st31 {
  font-size: 65.2817px;
}
.st32 {
  letter-spacing: 12px;
}

#Exhibit_Zone_1,
#Exhibit_Zone_2,
#Exhibit_Zone_3,
#Exhibit_Zone_4,
#Exhibit_Zone_5,
#Exhibit_Zone_6,
.Exhibit_Zone_1,
.Exhibit_Zone_2,
.Exhibit_Zone_3,
.Exhibit_Zone_4,
.Exhibit_Zone_5,
.Exhibit_Zone_6 {
  cursor: pointer;
}

:root {
  --transitionDuration: 0s;
}

#Exhibit_Zone_1 #Zone_1_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}
#Exhibit_Zone_2 #Zone_2_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}
#Exhibit_Zone_3 #Zone_3_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}
#Exhibit_Zone_4 #Zone_4_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}
#Exhibit_Zone_5 #Zone_5_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}
#Exhibit_Zone_6 #Zone_6_Info {
  display: none;
  opacity: 0;
  transition-duration: var(--transitionDuration);
}

:root {
  --loadyBloopDelay: 0.2;
  --loadyBloopSpeed: 1s;
  --loadyBloopPageDelay: 1s;
}

#Zone_1_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 1s + var(--loadyBloopPageDelay)) both;
}
#Zone_2_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 2s + var(--loadyBloopPageDelay)) both;
}
#Zone_3_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 3s + var(--loadyBloopPageDelay)) both;
}
#Zone_4_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 4s + var(--loadyBloopPageDelay)) both;
}
#Zone_5_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 5s + var(--loadyBloopPageDelay)) both;
}
#Zone_6_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 6s + var(--loadyBloopPageDelay)) both;
}
#Retail_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 7s + var(--loadyBloopPageDelay)) both;
}
#Dining_Target {
  fill: transparent;
  animation: loadyBloop var(--loadyBloopSpeed)
    calc(var(--loadyBloopDelay) * 8s + var(--loadyBloopPageDelay)) both;
}
#Dining_Deck_Target {
  fill: transparent;
  animation: loadyBloop 1s 4.5s both;
}

.mobileButton {
  display: block;
}
#Zone_1_Button,
#Zone_2_Button,
#Zone_3_Button,
#Zone_4_Button,
#Zone_5_Button,
#Zone_6_Button,
#Layer_2_2_ {
  display: none;
}

@media (min-width: 972px) {
  #Exhibit_Zone_1:hover #Zone_1_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }
  #Exhibit_Zone_2:hover #Zone_2_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }
  #Exhibit_Zone_3:hover #Zone_3_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }
  #Exhibit_Zone_4:hover #Zone_4_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }
  #Exhibit_Zone_5:hover #Zone_5_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }
  #Exhibit_Zone_6:hover #Zone_6_Info {
    display: block;
    opacity: 1;
    transition-duration: var(--transitionDuration);
  }

  #Zone_1_Button,
  #Zone_2_Button,
  #Zone_3_Button,
  #Zone_4_Button,
  #Zone_5_Button,
  #Zone_6_Button,
  #Layer_2_2_ {
    display: block;
  }

  .mobileButton {
    display: none;
  }
}

.constructionCam {
  cursor: pointer;
}
