@import "../../../layout/vars.css";

.title {
  text-align: center;
  font-family: "Lifehack Sans", sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
  color: #af4068;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
}

.introWrapper {
  font-family: "DINOTBold", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #222;
  margin-top: -1em;
}

@media (max-width: 768px) {
  .title {
    margin: 0.5em 0 0.5em 0;
  }
}
