@import "../../../layout/vars.css";

.titlebar {
  padding-top: 70px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'DIN Round OT Bold';
}

.description {
  //margin-bottom: 45px;
}
