.giftCalloutContainer {
	padding: 30px;
}

.giftTitleBar {
	margin-bottom: 30px;
	padding: 30px;
	border-radius: 5px;
}

.giftTitleBarNoCallout {
	text-align: center;
}

.giftTitleBarLabel {
	font-family: "DINOT", sans-serif;
	/* background-color: #FBA24F; */
	color: white;
	padding: 10px 5px;
	margin-bottom: 15px;
	width: 180px;
	font-size: 120x;
	line-height: 14px;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
}

.giftTitleBarTitle {
	font-family: 'DINCondensedBold', 'DINOT', sans-serif;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 800;
	/* color: #FBA24F; */
}

.giftTitleBarTitle {
	text-align: left;
}

.giftTitleBarDesc {
	color: #707070;
	font-size: 16px;
	line-height: 19px;
	font-family: "DINOT", sans-serif;
	margin-bottom: 30px;
}

.giftCalloutImage {
	width: 325px;

}

.giftCalloutButton {
	font-family: "DINOT", sans-serif;
	font-size: 20px;
	line-height: 24px;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: white;
	/* color: #FBA24F; */
	font-size: 20px;
	line-height: 24px;
	font-weight: 800;
	margin-bottom: 15px;
}

.giftCalloutButton:hover {
	/* color: #FBA24F; */
	text-decoration: none;
	background-color: white;
}

/* @media (min-width: 992px) {
	.titleBar, .titleBarNoCallout {
		margin-bottom: 60px;
	}
	
	.titleBarTitle, .titleBarTitleNoCallout {
		font-size: 60px;
		line-height: 72px;
	}	
} */

.callOut {
	background-color: #FDC843;
	padding: 13px;
}

.calloutTitle {
	font-weight: bold;
	font-family: 'DINOTBold', 'DINOT', sans-serif;
}

.callOut a { color: #40AF49; }

.callOutInner {
	border: 1px solid white;
	padding: 24px;
	height: 100%;
}

.callOutButtonContainer {
	text-align: center;
}

@media (max-width: 992px) {
	.giftCalloutImageContainer {
		text-align: center;
	
	}

	.giftCalloutImage {
		margin-bottom: 15px;
	
	}
}


.giftDropdownToggle {
	font-family: "DIN Round OT Bold", sans-serif;
	position: relative;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	border-radius: 22px;
	background-color: white;
	padding: 0 50px;
	transition: 1;
}

.giftDropdownToggle:focus {
	font-family: "DIN Round OT Bold", sans-serif;
	height: 44px;
	font-size: 20px;
	line-height: 26px;
	background-color: white;
    border-radius: 22px 22px 0 0;
	padding: 0 50px;
	transition: 0.5;
}

.giftDropdown {
	position: relative;
	display: inline-block;
}

.giftDropdownMenu {
	/* padding: 10px 20px; */
	position: relative;
	padding: 0px 8px;
	width: calc( 100% + 2px);
	border-radius: 0 0 22px 22px;
	z-index: 1;
	/* Removes the functionality for the dropdown to move up if it runs off the page */
	transform: translate3d(-1px, 43px, 0px) !important;
}

.giftDropdownMenu a {
	font-family: "DIN Round OT Bold", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 15px 1.5rem !important;
}

.giftDropdownMenu a + a {
	border-top: 1px solid #707070;
}

.giftDropdownMenu a:active {
	background-color: white !important;
}

.giftDropdownMenu a:hover {
	border-radius: 0 0 22px 22px;
}
