.addOnLight, .addOnDark {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	flex: 1;	
	border-radius: 5px;
}

.addOnLight {
	background-color: #FFF;
}

.addOnDark {
	background-color: #EEE;
}

.addOnHeadRow {
	padding-left: 30px;
	padding-right: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}


.addOnHeadRow h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.addOnCopyRow {
	padding: 0 45px 30px 45px;
}

.addOnCopyRow a { color: #40AF49; }

.addOnIconCol {
	padding: 0;
}

.addOnHeading {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

.addOnIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px; 
	background-color: #F7F7F7;
}

.addOnContainer {
	display: flex;
}