.addOn {
	display: flex;
	flex: 1;
}

.addOnRow {
	display: flex;
	justify-content: center;
}

.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.sectionHeading {
		margin-bottom: 40px;
}

.sectionTitle {
	font-family: "Lifehack Basic", sans-serif;
	font-size: 32px;
	line-height: 43px;
	text-align: center;
	margin-bottom: 0;
}

.sectionSubheading {
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin-top: 20px;
}

@media (min-width: 576px) {
	.section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
