.background {
  background: linear-gradient(
    180deg,
    rgba(64, 175, 73, 0.2525603991596639) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.contentWrapper {
  margin-top: 135px;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.speechBubble {
  position: relative;
  bottom: 2em;
  z-index: 1;
}

.speechBubbleMobile {
  display: none;
}

.textWrapperMobile {
  display: none;
}

.moveIcon > a > span {
  flex-direction: row-reverse;
}

.moveIcon > a > span > img {
  margin-left: 0 !important;
  margin-right: .5em;
}

.textWrapper {
  margin-left: 12em;
}

.message {
  text-align: center;
}

.message > p > a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #40AF49;
}

@media (max-width: 1360px) {
  .toad {
    width: 500px;
  }
  .speechBubble {
    width: 750px;
  }
}

@media (max-width: 1330px) {
  .toad {
    width: 480px;
  }
  .speechBubble {
    width: 700px;
  }
  .textWrapper {
    margin-left: 8em;
  }
}

@media (max-width: 1224px) {
  .toad {
    width: 480px;
  }
  .speechBubble {
    width: 660px;
  }
  .message {
    max-width: 320px;
  }
}

@media (max-width: 1179px) {
  .toad {
    width: 460px;
  }
  .speechBubble {
    width: 600px;
  }
}

@media (max-width: 1059px) {
  .toad {
    width: 440px;
  }
  .speechBubble {
    width: 540px;
  }
  .textWrapper {
    margin-left: 6em;
  }
}

@media (max-width: 990px) {
  .contentWrapper {
    flex-direction: column-reverse;
    margin-top: 180px;
    min-height: none;
  }
  .toad {
    width: 100%;
    max-height: 450px;
  }
  .speechBubble {
    display: none;
  }
  .speechBubbleMobile {
    display: block;
    width: 100%;
  }
  .textWrapper {
    display: none;
  }
  .textWrapperMobile {
    display: block;
    text-align: center;
  }
  .message {
    display: inline-block;
    height: auto;
    max-width: 320px;
  }
}

@media (max-width: 475px) {
  .speechBubbleMobile {
    width: 350px;
  }
  .toad {
    width: 100%;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    @media (max-width: 375px) {
      .speechBubbleMobile {
        width: 320px;
      }
    }

    @media (max-width: 325px) {
      .speechBubbleMobile {
        width: 280px;
      }
    }
  }
}
