.cta {
  position: relative;
  background-color: darkblue;
  color: #fff;
	min-height: 100px;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.ctaEdit {
	font-family: "DINOT", sans-serif;
	font-size: 16px;
	text-decoration: underline;
	color: #40AF49;
}

.ctaImage {
	display: none;
	align-items: center;
	justify-content: center;
	width: 142px;
	height: 100px;
	background-color: rgba(59, 59, 59, 0.25);
  /*
    Ensure golden ratio for the cta size while limiting it to some extend to
    the viewport width
  */
	/* height: 800px; */
}
.ctaImage img {
	width: 72px;
}
.ctaDetails {
  padding: 12px 42px 12px 24px;
	align-items: center;
}

.ctaTitle {
	font-family: "Lifehack", sans-serif;
	font-size: 32px;
	line-height: 43px;
  margin: 0;
	margin-right: 30px;
	white-space: nowrap;
}

.ctaDescription {
  margin: 0;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 20px;
}

.ctaDescription a {
	color: white;
	font-family: "DINOTBold", sans-serif;
	font-weight: bold;
}

.ctaDescription a:hover {
	color: white;
}

.ctaDescription p {
  margin-bottom: 0
}

.ctaLink {
	display: block;
	padding: 0 20px;
	height: 34px;
	border-radius: 17px;
	background-color: white;
	font-size: 16px;
	line-height: 34px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	color: #40AF49;
	text-decoration: none;
}

@media (min-width: 1024px) {
	.ctaImage {
		display: flex;
	}
	.ctaDetails {
		display: flex;
	}
	.ctaDescription {
		margin-right: 27px;
		margin-bottom: 0;
	}
}

