.card, .cardWhite {
	border-radius: 5px;
	background-color: #EEEEEE;
	border: none;
}

.cardWhite { background-color: #FFFFFF; }

.header {
	background-color: #40AF49;
	color: white;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.list {
	padding: 10px 20px;
	background-color: transparent;
}

.listItem {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.title {
	color: #40AF49;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

.description {
	font-size: 16px;
	line-height: 19px;
}