.title {
  text-align: center;
  margin-bottom: 40px;
}

.carouselContainer {
  margin-bottom: 15px;
}

@media (min-width: 972px) {
  .carouselContainer {
    padding-right: 15px;
    margin-right: 15px;
  }
}

.calendarEvent {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.calendarEvent .calendarDay {
  flex-grow: 0;
}
.calendarEvent .calendarDesc {
  flex-grow: 1;
  color: #525252;
  font-family: "DINOT", sans-serif;
  font-size: 24px;
  line-height: 31px;
}
.calendarEvent .calendarDesc p:last-child {
  margin-bottom: 0;
}
