.title {
  text-align: center;
}

.sectionTitle {
  font-family: "DINOT", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #222;
  margin-top: 40px;
  margin-bottom: 30px;
}

.contentWrapper {
  margin-bottom: 50px;
}

.image {
  border-radius: 5px;
}
